<!-- pon esta etiqueta script para importar vue.je en tu proyecto -->

<script src="https://unpkg.com/vue@next"></script>

<script>
	//en otro archivo de javascript montaremos a vue con el siguiente codigo
	const Counter = {
		data(){
			return {
				counter: 0
			}
		}
	}

	Vue.createApp(Counter).mount('#app') //#app hace referencia a un elemento html con ese id, asegurate de que exista en el dom y toda la aplicaciòn correra entorno a este contenedor, nada fuera de el.
</script>

<!-- Vue usa la reactividad para sincronizar las variables del componente con las vista del DOM -->

<div id="counter">
  Counter: {{ counter }}
</div>

<script>
	//Fijate como se actualiza la vista cada segundo con el valor de contador:

	const Counter = {
        data() {
          return {
            counter: 0
          }
        },
        mounted() {
          setInterval(() => {
            this.counter++
          }, 1000)
        }      
    }

</script>

<!-- Además de la interpolación de texto, también podemos vincular atributos de elementos como este: -->

<div id="bind-attribute">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound
    title!
  </span>
</div>

<script>
	const AttributeBinding = {
		data(){
			return {
				message: 'Date: ' + new Date().toLocaleString()
			}
		}
	}

	Vue.createApp(AttributeBinding).mount('#bind-attribute')
</script>

<!-- Para permitir que los usuarios interactúen con su aplicación, podemos usar la v-ondirectiva para adjuntar detectores de eventos que invocan métodos en nuestras instancias: -->

<div id="event-handling">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<script>
	const EventHandling = {
        data() {
            return {
                message: 'Hello Vue.js!'
            }
        },
        methods: {
            reverseMessage() {
                this.message = this.message
                    .split('')
                    .reverse()
                    .join('')
            }
        }
    }

    Vue.createApp(EventHandling).mount('#event-handling')
</script>

<!-- Vue también proporciona la v-modeldirectiva que hace que el enlace bidireccional entre la entrada del formulario y el estado de la aplicación sea muy sencillo: -->

<div id="two-way-binding">
  <p>{{ message }}</p>
  <input v-model="message" />
</div>

<script>
	const TwoWayBinding = {
		data(){
			return {
				message: "Hello Vue!"
			}
		}
	}

	Vue.createApp(TwoWayBinding).mount('#two-way-binding')
</script>

<!-- También es fácil alternar la presencia de un elemento: donde screen esta declarada en el data metodo y definida en true -->

<div id="conditional-rendering">
  <span v-if="seen">Now you see me</span>
</div>

<!-- Hay bastantes otras directivas, cada una con su propia funcionalidad especial. Por ejemplo, la v-fordirectiva se puede usar para mostrar una lista de elementos usando los datos de una matriz: -->

<div id="list-rendering">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<script>
	const ListRendering = {
		data(){
			return {
				todos: [
				    { text: "Learn JavaScript" } 
				    { text: "Learn Vue" } 
				    { text: "Build something awesome" } 
				]
			}
		}
	}

	Vue.createApp(ListRendering).mount('#list-rendering')
</script>























<!--------------------------- Componentes --------------------------->

<script>
	//En Vue, un componente es esencialmente una instancia con opciones predefinidas. Registrar un componente en Vue es sencillo: creamos un objeto componente como lo hicimos con los Appobjetos y lo definimos en la componentsopción de los padres :

	//Create Vue application
	const app = Vue.createApp(...)

	//Define un nuevo componente llamado todo-item
	app.component('todo-item', {
		template: `<li>This is a todo</li>`
	})

	//Mount Vue application
	app.mount(...)
</script>

<!-- Ahora puede componerlo en la plantilla de otro componente: -->

<ol>
  <!-- Create an instance of the todo-item component -->
  <todo-item></todo-item>
</ol>

<script>
	//Pero esto generaría el mismo texto para cada tarea, lo cual no es muy interesante. Deberíamos poder pasar datos del ámbito principal a los componentes secundarios. Modifiquemos la definición del componente para que acepte un accesorio :

	app.component('todo-item', {
		props: ['todo'],
		template: `<li>{{ todo.text }}</li>`
	})
</script>


<!-- Ahora podemos pasar la tarea a cada componente repetido usando v-bind: -->

<div id="todo-list-app">
  <ol>
    <!--
      Ahora proporcionamos a cada elemento de tarea pendiente el objeto de tarea pendiente
      está representando, para que su contenido pueda ser dinámico.
      También debemos proporcionar a cada componente una "clave",
      que se explicará más adelante.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>

<script>
	const TodoList = {
		data(){
			return {
				groceryList: [
				    { id: 0, text: 'Vegetables' },
				    { id: 1, text: 'Cheese' },
				    { id: 2, text: "Whatever else humans are supposed to eat" }
				]
			}
		}
	}

	const app = Vue.createApp(TodoList)

	app.component('todo-list', {
		props: ['todo'],
		template: `<li>{{ todo.text }}</li>`
	})

	app.mount('#todo-list-app')
</script>







<script>
	//Cada aplicación de Vue comienza creando una nueva instancia de aplicación con la createApp función:

	const app = new Vue.createApp({
		...
	})

	//La instancia de la aplicación se usa para registrar 'globales' que luego pueden ser usados ​​por componentes dentro de esa aplicación. Lo discutiremos en detalle más adelante en la guía, pero como un ejemplo rápido:

	const app = Vue.createApp({})
    app.component('SearchInput', SearchInputComponent)
    app.directive('focus', FocusDirective)
    app.use(LocalePlugin)

    //La mayoría de los métodos expuestos por la instancia de la aplicación devuelven la misma instancia, lo que permite encadenar:

    Vue.createApp({})
        .component('SearchInput', SearchInputComponent)
        .directive('focus', FocusDirective)
        .use(LocalePlugin)

    //Las opciones pasadas a createAppse utilizan para configurar el componente raíz . Ese componente se utiliza como punto de partida para la renderización cuando montamos la aplicación.

    //Una aplicación debe montarse en un elemento DOM. Por ejemplo, si queremos montar una aplicación Vue <div id="app"></div>, debemos pasar #app:

    const RootComponent = {...}
    const app = Vue.createApp(RootComponent)
    const vm = app.mount('#app')

    //A diferencia de la mayoría de los métodos de aplicación, mountno devuelve la aplicación. En su lugar, devuelve la instancia del componente raíz.

    //Anteriormente en la guía conocimos datapropiedades. Las propiedades definidas en datase exponen a través de la instancia del componente:

    const app = Vue.createApp({
    	data(){
    		return { count: 4 }
    	}
    })

    const vm = app.mount('#app')
    console.log(vm.count)

    //Hay varias otras opciones de componentes que añaden propiedades definidas por el usuario para la instancia de componente, tales como methods, props, computed, injecty setup. Discutiremos cada uno de estos en profundidad más adelante en la guía. Todas las propiedades de la instancia del componente, sin importar cómo se definan, estarán accesibles en la plantilla del componente.

    //Vue también expone algunas propiedades integradas a través de la instancia del componente, como $attrsy $emit. Todas estas propiedades tienen un $prefijo para evitar conflictos con los nombres de propiedad definidos por el usuario.












    //Ganchos de ciclo de vida
    //Cada instancia de componente pasa por una serie de pasos de inicialización cuando se crea; por ejemplo, necesita configurar la observación de datos, compilar la plantilla, montar la instancia en el DOM y actualizar el DOM cuando los datos cambian. En el camino, también ejecuta funciones llamadas enlaces de ciclo de vida , lo que brinda a los usuarios la oportunidad de agregar su propio código en etapas específicas.

    //Por ejemplo, el enlace creado se puede usar para ejecutar código después de que se crea una instancia:

    Vue.createApp({
    	data(){
    		return { count: 1 }
    	},
    	created(){
    		console.log('count is: ' + this.count)
    	}
    })

    //También hay otros ganchos que se llamarán en diferentes etapas del ciclo de vida de la instancia, como mounted , updated y unmounted . Todos los ganchos del ciclo de vida se llaman con su thiscontexto apuntando a la instancia activa actual que lo invoca.

</script>

















<!---------------------------------- interpolaciones --------------------------------------->

<span>Message: {{ msg }}</span>

<!-- 
La etiqueta del bigote se reemplazará con el valor de la msgpropiedad en el objeto de datos correspondiente. También se actualizará siempre que msgcambie la propiedad del objeto de datos .

También puede realizar interpolaciones de una sola vez que no se actualizan con el cambio de datos mediante el uso de la directiva v-once , pero tenga en cuenta que esto también afectará a cualquier otro enlace en el mismo nodo:
-->

<span v-once>This will never change: {{ msg }}</span>

<!--
  El doble bigote interpreta los datos como texto sin formato, no HTML. Para generar HTML real, deberá usar la v-htmldirectiva :
-->

<p>Using mustaches: {{ rawHtml }}</p>
<p>Using v-html directive: <span v-html="rawHtml"></span></p>

<!-- 
El contenido de spanse reemplazará con el valor de la rawHtmlpropiedad, interpretado como HTML simple; los enlaces de datos se ignoran. Tenga en cuenta que no puede usar v-htmlpara componer parciales de plantilla, porque Vue no es un motor de plantillas basado en cadenas. En cambio, se prefieren los componentes como unidad fundamental para la reutilización y composición de la interfaz de usuario.

Hasta ahora solo hemos estado vinculando a claves de propiedad simples en nuestras plantillas. Pero Vue.js en realidad admite todo el poder de las expresiones de JavaScript dentro de todos los enlaces de datos:
-->

{{ number + 1 }}

{{ ok ? 'YES' : 'NO' }}

{{ message.split('').reverse().join('') }}

<div v-bind:id="'list-' + id"></div>

<!-- 
  Estas expresiones se evaluarán como JavaScript en el ámbito de datos de la instancia de Vue del propietario. Una restricción es que cada enlace solo puede contener una sola expresión , por lo que lo siguiente NO funcionará: -->

<!-- this is a statement, not an expression: -->
{{ var a = 1 }}

<!-- flow control won't work either, use ternary expressions -->
{{ if (ok) { return message } }}


























<!------------------------------------------ Directivas ---------------------------------------------

Las directivas son atributos especiales con el v-prefijo. Se espera que los valores de los atributos de la directiva sean una sola expresión de JavaScript (con la excepción de v-for, que se discutirá más adelante). El trabajo de una directiva es aplicar de forma reactiva efectos secundarios al DOM cuando cambia el valor de su expresión. Repasemos el ejemplo que vimos en la introducción: -->

<p v-if="seen">Now you see me</p>

<!--
Algunas directivas pueden tomar un "argumento", indicado por dos puntos después del nombre de la directiva. Por ejemplo, la v-binddirectiva se usa para actualizar de forma reactiva un atributo HTML:
-->

<a v-bind:href="url"> ... </a>

<!--
Aquí hrefestá el argumento, que le dice a la v-binddirectiva que vincule el hrefatributo del elemento al valor de la expresión url.

Otro ejemplo es la v-ondirectiva, que escucha eventos DOM:
-->

<a v-on:click="doSomething"> ... </a>

<!-- 
A partir de la versión 2.6.0, también es posible utilizar una expresión de JavaScript en un argumento de directiva envolviéndola entre corchetes:
-->

<a v-bind:[attributeName]="url"> ... </a>

<!--
Aquí attributeNamese evaluará dinámicamente como una expresión de JavaScript, y su valor evaluado se utilizará como el valor final del argumento. Por ejemplo, si su instancia de Vue tiene una propiedad de datos attributeName, cuyo valor es "href", entonces este enlace será equivalente a v-bind:href.

De manera similar, puede usar argumentos dinámicos para vincular un controlador a un nombre de evento dinámico:
-->

<a v-on:[eventName]="doSomething"> ... </a>

<!--
En este ejemplo, cuando event Name el valor de "focus", v-on:[eventName] será equivalente a v-on:focus.
-->






















<!------------------------------------------- Modificadores -----------------------------------------

Los modificadores son sufijos especiales indicados por un punto, que indican que una directiva debe estar vinculada de alguna manera especial. Por ejemplo, el .preventmodificador le dice a la v-ondirectiva que llame event.preventDefault()al evento desencadenado: -->

<form v-on:submit.prevent="onSubmit"> ... </form>

<!-- 

Verá otros ejemplos de modificadores más adelante, parav-on y parav-model , cuando exploremos esas características.

-->
















<!-------------------------------------- Shorthands -----------------------------------------
El v-prefijo sirve como una pista visual para identificar atributos específicos de Vue en sus plantillas. Esto es útil cuando usa Vue.js para aplicar un comportamiento dinámico a algunas marcas existentes, pero puede parecer detallado para algunas directivas de uso frecuente. Al mismo tiempo, la necesidad del v-prefijo se vuelve menos importante cuando está construyendo un SPA , donde Vue administra cada plantilla. Por lo tanto, Vue proporciona abreviaturas especiales para dos de las directivas más utilizadas v-bind y v-on :

v-bind
-->

<a v-bind:href="url"> ... </a>
<!-- forma corta -->
<a :href="url"> ... </a>
<!-- forma corta con argumento dinamico -->
<a :[key]="url"> ... </a>

<!-- v-on -->
<a v-on:click="doSomething"> ... </a>
<!-- forma corta -->
<a @click="doSomething"> ... </a>
<!-- form corta con argumento dinamico -->
<a @[event]="doSomething"> ... </a>













































<!------------------------------- Propiedades y observadores calculados -----------------------------------

Las expresiones dentro de la plantilla son muy convenientes, pero están diseñadas para operaciones simples. Poner demasiada lógica en sus plantillas puede hacer que sean infladas y difíciles de mantener. Por ejemplo:

-->

<div id="example">
  {{ message.split('').reverse().join('') }}
</div>

<!--

En este punto, la plantilla ya no es simple y declarativa. Tienes que mirarlo por un segundo antes de darte cuenta de que se muestra messageal revés. El problema se agrava cuando desea incluir el mensaje invertido en su plantilla más de una vez.

Es por eso que para cualquier lógica compleja, debe usar una propiedad calculada. -->

<div id="example">
  <p>Original message: "{{ message }}"</p>
  <p>Computed reversed message: "{{ reversedMessage }}"</p>
</div>

<script>
var vm = new Vue({
  el: '#example',
  data: {
    message: 'Hello'
  },
  computed: {
    // a computed getter
    reversedMessage: function () {
      // `this` points to the vm instance
      return this.message.split('').reverse().join('')
    }
  }
})

//Aquí hemos declarado una propiedad calculada reversedMessage. La función que proporcionamos se utilizará como función getter para la propiedad vm.reversedMessage

console.log(vm.reversedMessage) // => 'olleH'
vm.message = 'Goodbye'
console.log(vm.reversedMessage) // => 'eybdooG'
</script>

<!-- Almacenamiento en caché calculado frente a métodos
Es posible que haya notado que podemos lograr el mismo resultado invocando un método en la expresión: -->

<p>Reversed message: "{{ reverseMessage() }}"</p>

<script>
// in component
methods: {
  reverseMessage: function () {
    return this.message.split('').reverse().join('')
  }
}

/*
En lugar de una propiedad calculada, podemos definir la misma función como método. Para el resultado final, los dos enfoques son exactamente iguales. Sin embargo, la diferencia es que las propiedades calculadas se almacenan en caché en función de sus dependencias reactivas. Una propiedad calculada solo se reevaluará cuando algunas de sus dependencias reactivas hayan cambiado. Esto significa que mientras messageno haya cambiado, el acceso múltiple a la reversedMessagepropiedad calculada devolverá inmediatamente el resultado calculado previamente sin tener que ejecutar la función nuevamente.

Esto también significa que la siguiente propiedad calculada nunca se actualizará, porque Date.now()no es una dependencia reactiva:
*/

computed: {
  now: function () {
    return Date.now()
  }
}

/*
En comparación, una invocación de método siempre ejecutará la función cada vez que se produzca una nueva representación.

¿Por qué necesitamos el almacenamiento en caché? Imagine que tenemos una propiedad A calculada costosa , que requiere recorrer una matriz enorme y hacer muchos cálculos. Entonces podemos tener otras propiedades calculada que a su vez dependen de una . Sin almacenamiento en caché, estaríamos ejecutando A ‘s captador muchas veces más de lo necesario! En los casos en los que no desee almacenar en caché, utilice un método en su lugar.
*/
</script>

<!--

Propiedad calculada frente a propiedad supervisada
Vue proporciona una forma más genérica de observar y reaccionar a los cambios de datos en una instancia de Vue: ver las propiedades . Cuando tiene algunos datos que deben cambiar en función de otros datos, es tentador usarlos en exceso watch, especialmente si proviene de un entorno AngularJS. Sin embargo, a menudo es una mejor idea utilizar una propiedad calculada en lugar de una watchdevolución de llamada imperativa . Considere este ejemplo:

-->

<div id="demo">{{ fullName }}</div>

<script>
var vm = new Vue({
  el: '#demo',
  data: {
    firstName: 'Foo',
    lastName: 'Bar',
    fullName: 'Foo Bar'
  },
  watch: {
    firstName: function (val) {
      this.fullName = val + ' ' + this.lastName
    },
    lastName: function (val) {
      this.fullName = this.firstName + ' ' + val
    }
  }
})

//El código anterior es imperativo y repetitivo. Compárelo con una versión de propiedad calculada:

var vm = new Vue({
  el: '#demo',
  data: {
    firstName: 'Foo',
    lastName: 'Bar'
  },
  computed: {
    fullName: function () {
      return this.firstName + ' ' + this.lastName
    }
  }
})

//Mucho mejor, ¿no?

//Setter computarizado
//Por defecto, las propiedades calculadas son solo captadores, pero también puede proporcionar un definidor cuando lo necesite:

computed: {
  fullName: {
    // getter
    get: function () {
      return this.firstName + ' ' + this.lastName
    },
    // setter
    set: function (newValue) {
      var names = newValue.split(' ')
      this.firstName = names[0]
      this.lastName = names[names.length - 1]
    }
  }
}

//Ahora, cuando se ejecute vm.fullName = 'John Doe', se invocará el establecedor vm.firstName y vm.lastName se actualizará en consecuencia.

</script>







































<!-------------------------- Watchers ----------------------------

Si bien las propiedades calculadas son más apropiadas en la mayoría de los casos, hay ocasiones en las que es necesario un observador personalizado. Es por eso que Vue proporciona una forma más genérica de reaccionar a los cambios de datos a través de la watchopción. Esto es más útil cuando desea realizar operaciones asincrónicas o costosas en respuesta a datos cambiantes.

Por ejemplo: -->

<div id="watch-example">
  <p>
    Ask a yes/no question:
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>

<!-- Dado que ya existe un rico ecosistema de bibliotecas ajax 
y colecciones de métodos de utilidad de propósito general, núcleo de Vue
es capaz de permanecer pequeño al no reinventarlos. Esto también
le da la libertad de usar lo que está familiarizado. -->

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

<script>
var watchExampleVM = new Vue({
  el: '#watch-example',
  data: {
    question: '',
    answer: 'I cannot give you an answer until you ask a question!'
  },
  watch: {
    // siempre que cambie la pregunta, esta función se ejecutará
    question: function (newQuestion, oldQuestion) {
      this.answer = 'Waiting for you to stop typing...'
      this.debouncedGetAnswer()
    }
  },
  created: function () {
    // _.debounce es una función proporcionada por lodash para limitar cómo
    // a menudo se puede ejecutar una operación particularmente costosa.
    // En este caso, queremos limitar la frecuencia con la que accedemos
    // yesno.wtf/api, esperando hasta que el usuario haya
    // terminó de escribir antes de realizar la solicitud ajax. Aprender
    // más sobre la función _.debounce (y su prima
    // _.throttle), visite: https://lodash.com/docs#debounce
    this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
  },
  methods: {
    getAnswer: function () {
      if (this.question.indexOf('?') === -1) {
        this.answer = 'Questions usually contain a question mark. ;-)'
        return
      }
      this.answer = 'Thinking...'
      var vm = this
      axios.get('https://yesno.wtf/api')
        .then(function (response) {
          vm.answer = _.capitalize(response.data.answer)
        })
        .catch(function (error) {
          vm.answer = 'Error! Could not reach the API. ' + error
        })
    }
  }
})

//En este caso, usar la watchopción nos permite realizar una operación asincrónica (acceder a una API), limitar la frecuencia con la que realizamos esa operación y establecer estados intermedios hasta obtener una respuesta final. Nada de eso sería posible con una propiedad calculada.
</script>













































<!----------------- Vinculación de clases y estilos ---------------------

Podemos pasar un objeto a :class(abreviatura de v-bind:class) para alternar clases dinámicamente: -->

<div :class="{ active: isActive }"></div>

<!-- 
Puede alternar varias clases si tiene más campos en el objeto. Además, la :classdirectiva también puede coexistir con el classatributo simple . Así que dada la siguiente plantilla: -->

<div
  class="static"
  :class="{ active: isActive, 'text-danger': hasError }"
></div>

<!-- Y los siguientes datos: -->

<script>
data() {
  return {
    isActive: true,
    hasError: false
  }
}
</script>

<!-- Renderizara -->

<div class="static active"></div>

<!--
Cuando isActiveo hasErrorcambie, la lista de clases se actualizará en consecuencia. Por ejemplo, si se hasErrorconvierte en true, la lista de clases se convertirá en "static active text-danger".

El objeto vinculado no tiene que estar en línea: -->

<div :class="classObject"></div>

<script>
data() {
  return {
    classObject: {
      active: true,
      'text-danger': false
    }
  }
}
</script>

<!-- 
Esto producirá el mismo resultado. También podemos vincularnos a una propiedad calculada que devuelve un objeto. Este es un patrón común y poderoso: -->

<div :class="classObject"></div>

<script>
data() {
  return {
    isActive: true,
    error: null
  }
},
computed: {
  classObject() {
    return {
      active: this.isActive && !this.error,
      'text-danger': this.error && this.error.type === 'fatal'
    }
  }
}
</script>

<!-- Sintaxix de matriz
Podemos pasar una matriz :class para aplicar una lista de clases: -->

<div :class="[activeClass, errorClass]"></div>

<script>
data() {
  return {
    activeClass: 'active',
    errorClass: 'text-danger'
  }
}
</script>

<!-- Que rendirá: -->

<div class="active text-danger"></div>

<!-- Si también desea alternar una clase en la lista condicionalmente, puede hacerlo con una expresión ternaria: -->

<div :class="[isActive ? activeClass : '', errorClass]"></div>

<!-- Esto siempre se aplicará errorClass, pero activeClasssolo se aplicará cuando isActivesea ​​veraz.

Sin embargo, esto puede ser un poco detallado si tiene varias clases condicionales. Es por eso que también es posible usar la sintaxis de objeto dentro de la sintaxis de matriz: -->

<div :class="[{ active: isActive }, errorClass]"></div>

<!--
Cuando usa el classatributo en un componente personalizado con un solo elemento raíz, esas clases se agregarán a este elemento. Las clases existentes en este elemento no se sobrescribirán.

Por ejemplo, si declara este componente: -->

<script>
const app = Vue.createApp({})

app.component('my-component', {
  template: `<p class="foo bar">Hi!</p>`
})
</script>

<!-- Luego agregue algunas clases cuando lo use: -->

<div id="app">
  <my-component class="baz boo"></my-component>
</div>

<!-- El HTML renderizado será: -->

<p class="foo bar baz boo">Hi</p>

<!-- Lo mismo es cierto para los enlaces de clase: -->

<my-component :class="{ active: isActive }"></my-component>

<!-- Cuando isActivesea ​​verdad, el HTML renderizado será: -->

<p class="foo bar active">Hi</p>

<!-- Si su componente tiene varios elementos raíz, deberá definir qué componente recibirá esta clase. Puede hacer esto usando la $attrspropiedad del componente: -->

<div id="app">
  <my-component class="baz"></my-component>
</div>

<script>
const app = Vue.createApp({})

app.component('my-component', {
  template: `
    <p :class="$attrs.class">Hi!</p>
    <span>This is a child component</span>
  `
})
</script>


<!-- Sintaxis del objeto
La sintaxis del objeto para :stylees bastante sencilla: se parece casi a CSS, excepto que es un objeto de JavaScript. Puede usar camelCase o kebab-case (use comillas con kebab-case) para los nombres de las propiedades CSS: -->

<div :style="{ color: activeColor, fontSize: fontSize + 'px' }"></div>

<script>
data() {
  return {
    activeColor: 'red',
    fontSize: 30
  }
}
</script>

<!-- A menudo es una buena idea enlazar directamente a un objeto de estilo para que la plantilla sea más limpia: -->

<div :style="styleObject"></div>

<script>
data() {
  return {
    styleObject: {
      color: 'red',
      fontSize: '13px'
    }
  }
}
</script>

<!-- Una vez más, la sintaxis del objeto se utiliza a menudo junto con propiedades calculadas que devuelven objetos.

#Sintaxis de matriz 
La sintaxis de matriz para le :stylepermite aplicar varios objetos de estilo al mismo elemento
-->

<div :style="[baseStyles, overridingStyles]"></div>

<!-- Puede proporcionar una matriz de varios valores (con prefijo) a una propiedad de estilo, por ejemplo: -->

<div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }"></div>



































<!------------------------- Condicionales --------------------
La directiva v-ifse usa para renderizar condicionalmente un bloque. El bloque solo se renderizará si la expresión de la directiva devuelve un valor veraz. -->

<h1 v-if="awesome">Vue is awesome!</h1>

<!-- También es posible agregar un "bloque else" con v-else: -->

<h1 v-if="awesome">Vue is awesome!</h1>
<h1 v-else>Oh no 😢</h1>

<!-- Grupos condicionales con v-if el<template>
Debido a que v-ifes una directiva, tiene que estar unida a un solo elemento. Pero, ¿y si queremos alternar más de un elemento? En este caso podemos usar v-if en un <template>elemento, que sirve como envoltorio invisible. El resultado final renderizado no incluirá el <template>elemento. -->

<template v-if="ok">
  <h1>Title</h1>
  <p>Paragraph 1</p>
  <p>Paragraph 2</p>
</template>

<!-- Puede usar la v-else directiva para indicar un "bloque else" para v-if -->

<div v-if="Math.random() > 0.5">
  Now you see me
</div>
<div v-else>
  Now you don't
</div>

<!-- Un v-else elemento debe seguir inmediatamente a v-if un v-else-if elemento o un elemento; de lo contrario, no se reconocerá. 

El v-else-if, como su nombre indica, sirve como un "bloque más si" para v-if. También se puede encadenar varias veces:
-->

<div v-if="type === 'A'">
  A
</div>
<div v-else-if="type === 'B'">
  B
</div>
<div v-else-if="type === 'C'">
  C
</div>
<div v-else>
  Not A/B/C
</div>

<!-- Similar a v-else, un v-else-ifelemento debe seguir inmediatamente a v-ifun v-else-ifelemento o .

#v-show
Otra opción para mostrar un elemento de forma condicional es la v-showdirectiva. El uso es básicamente el mismo: -->

<h1 v-show="ok">Hello!</h1>

<!-- La diferencia es que un elemento con v-showsiempre se renderizará y permanecerá en el DOM; v-showsolo alterna la displaypropiedad CSS del elemento.

v-showno es compatible con el <template>elemento ni funciona con él v-else

v-iftambién es perezoso : si la condición es falsa en el renderizado inicial, no hará nada - el bloque condicional no se renderizará hasta que la condición se convierta en verdadera por primera vez.

En comparación, v-show es mucho más simple: el elemento siempre se representa independientemente de la condición inicial, con alternancia basada en CSS.

En términos generales, v-if tiene costos de alternancia más altos mientras que v-show tiene costos de renderizado iniciales más altos. Por lo tanto, prefiera v-show si necesita alternar algo con mucha frecuencia, y prefiera v-if si es poco probable que la condición cambie en tiempo de ejecución.

#v-if co -->













































<!--------------------------------- Representación de listas --------------------------------------

Podemos usar la v-for directiva para representar una lista de elementos basada en una matriz. La v-for directiva requiere una sintaxis especial en la forma de item in items, donde items está la matriz de datos de origen y itemes un alias para el elemento de matriz en el que se itera: -->

<ul id="example-1">
  <li v-for="item in items" :key="item.message">
    {{ item.message }}
  </li>
</ul>

<script>
Vue.createApp({
  data() {
    return {
      items: [{ message: 'Foo' }, { message: 'Bar' }]
    }
  }
}).mount('#array-rendering')
</script>

<!-- También puede usar ofcomo delimitador en lugar de in, para que esté más cerca de la sintaxis de JavaScript para iteradores: -->

<div v-for="item of items"></div>

<!-- También puede utilizar v-forpara iterar a través de las propiedades de un objeto. -->

<ul id="v-for-object" class="demo">
  <li v-for="value in myObject">
    {{ value }}
  </li>
</ul>

<script>
Vue.createApp({
  data() {
    return {
      myObject: {
        title: 'How to do lists in Vue',
        author: 'Jane Doe',
        publishedAt: '2016-04-10'
      }
    }
  }
}).mount('#v-for-object')
</script>

<!-- También puede proporcionar un segundo argumento para el nombre de la propiedad (también conocido como clave): -->

<li v-for="(value, name) in myObject">
  {{ name }}: {{ value }}
</li>

<!-- Y otro para el índice: -->

<li v-for="(value, name, index) in myObject">
  {{ index }}. {{ name }}: {{ value }}
</li>

<!-- 
Estado de mantenimiento
Cuando Vue actualiza una lista de elementos renderizados con v-for, de forma predeterminada utiliza una estrategia de "parche en el lugar". Si el orden de los elementos de datos ha cambiado, en lugar de mover los elementos DOM para que coincidan con el orden de los elementos, Vue parcheará cada elemento en su lugar y se asegurará de que refleje lo que se debe representar en ese índice en particular.

Este modo predeterminado es eficiente, pero solo es adecuado cuando la salida de renderizado de su lista no depende del estado del componente secundario o del estado temporal del DOM (por ejemplo, valores de entrada de formulario) .

Para darle a Vue una pista para que pueda rastrear la identidad de cada nodo y, por lo tanto, reutilizar y reordenar los elementos existentes, debe proporcionar un keyatributo único para cada elemento: -->

<div v-for="item in items" :key="item.id">
  <!-- content -->
</div>

<!-- Se recomienda proporcionar un keyatributo v-forsiempre que sea posible, a menos que el contenido del DOM iterado sea simple o que confíe intencionalmente en el comportamiento predeterminado para mejorar el rendimiento. -->

<!--
Métodos de mutación
Vue envuelve los métodos de mutación de una matriz observada para que también activen actualizaciones de vista. Los métodos envueltos son:

push()
pop()
shift()
unshift()
splice()
sort()
reverse()
Puede abrir la consola y jugar con la itemsmatriz de los ejemplos anteriores llamando a sus métodos de mutación. Por ejemplo: example1.items.push({ message: 'Baz' }).

#Reemplazo de una matriz
Los métodos de mutación, como su nombre indica, mutan la matriz original a la que se llaman. En comparación, también existen métodos no mutantes, por ejemplo filter(), concat() y slice(), que no mutan la matriz original pero siempre devuelven una nueva matriz . Cuando trabaje con métodos que no mutan, puede reemplazar la matriz anterior por la nueva: -->

<script>
example1.items = example1.items.filter(item => item.message.match(/Foo/))
</script>

<!-- 
A veces queremos mostrar una versión filtrada u ordenada de una matriz sin realmente mutar o restablecer los datos originales. En este caso, puede crear una propiedad calculada que devuelva la matriz filtrada u ordenada.

Por ejemplo: -->

<li v-for="n in evenNumbers" :key="n">{{ n }}</li>

<script>
data() {
  return {
    numbers: [ 1, 2, 3, 4, 5 ]
  }
},
computed: {
  evenNumbers() {
    return this.numbers.filter(number => number % 2 === 0)
  }
}
</script>

<!-- En situaciones en las que las propiedades calculadas no son factibles (por ejemplo, dentro de v-forbucles anidados ), puede utilizar un método: -->

<ul v-for="numbers in sets">
  <li v-for="n in even(numbers)" :key="n">{{ n }}</li>
</ul>

<script>
data() {
  return {
    sets: [[ 1, 2, 3, 4, 5 ], [6, 7, 8, 9, 10]]
  }
},
methods: {
  even(numbers) {
    return numbers.filter(number => number % 2 === 0)
  }
}
</script>

<!-- v-for también puede tomar un número entero. En este caso, repetirá la plantilla tantas veces. -->

<div id="range" class="demo">
  <span v-for="n in 10" :key="n">{{ n }} </span>
</div>

<!-- De manera similar a la plantilla v-if, también puede usar una <template>etiqueta con v-forpara representar un bloque de varios elementos. Por ejemplo: -->

<ul>
  <template v-for="item in items" :key="item.msg">
    <li>{{ item.msg }}</li>
    <li class="divider" role="presentation"></li>
  </template>
</ul>

<!-- Cuando existen en el mismo nodo, v-if tiene mayor prioridad que v-for. Eso significa que la v-ifcondición no tendrá acceso a las variables del alcance de v-for: -->

<li v-for="todo in todos" v-if="!todo.isComplete">
  {{ todo.name }}
</li>

<!-- Esto se puede solucionar moviendo v-fora una <template>etiqueta de envoltura : -->

<template v-for="todo in todos" :key="todo.name">
  <li v-if="!todo.isComplete">
    {{ todo.name }}
  </li>
</template>

<!-- Puede usar directamente v-foren un componente personalizado, como cualquier elemento normal: -->

<my-component v-for="item in items" :key="item.id"></my-component>

<!-- Sin embargo, esto no pasará automáticamente ningún dato al componente, porque los componentes tienen sus propios ámbitos aislados. Para pasar los datos iterados al componente, también deberíamos usar accesorios: -->

<my-component
  v-for="(item, index) in items"
  :item="item"
  :index="index"
  :key="item.id"
></my-component>

<!-- La razón por la que no se inyecta automáticamente itemen el componente es porque eso hace que el componente esté estrechamente acoplado a cómo v-forfunciona. Ser explícito sobre el origen de sus datos hace que el componente sea reutilizable en otras situaciones.

Aquí hay un ejemplo completo de una lista de tareas pendientes simple: -->

<div id="todo-list-example">
  <form v-on:submit.prevent="addNewTodo">
    <label for="new-todo">Add a todo</label>
    <input
      v-model="newTodoText"
      id="new-todo"
      placeholder="E.g. Feed the cat"
    />
    <button>Add</button>
  </form>
  <ul>
    <todo-item
      v-for="(todo, index) in todos"
      :key="todo.id"
      :title="todo.title"
      @remove="todos.splice(index, 1)"
    ></todo-item>
  </ul>
</div>

<script>
const app = Vue.createApp({
  data() {
    return {
      newTodoText: '',
      todos: [
        {
          id: 1,
          title: 'Do the dishes'
        },
        {
          id: 2,
          title: 'Take out the trash'
        },
        {
          id: 3,
          title: 'Mow the lawn'
        }
      ],
      nextTodoId: 4
    }
  },
  methods: {
    addNewTodo() {
      this.todos.push({
        id: this.nextTodoId++,
        title: this.newTodoText
      })
      this.newTodoText = ''
    }
  }
})

app.component('todo-item', {
  template: `
    <li>
      {{ title }}
      <button @click="$emit('remove')">Remove</button>
    </li>
  `,
  props: ['title'],
  emits: ['remove']
})

app.mount('#todo-list-example')
</script>












































<!---------------------------------- Manejo de eventos ---------------------------------------

Podemos usar la v-ondirectiva, que normalmente acortamos al @símbolo, para escuchar eventos DOM y ejecutar algo de JavaScript cuando se activan. El uso sería v-on:click="methodName"o con el atajo,@click="methodName" -->

<div id="basic-event">
  <button @click="counter += 1">Add 1</button>
  <p>The button above has been clicked {{ counter }} times.</p>
</div>

<script>
Vue.createApp({
  data() {
    return {
      counter: 0
    }
  }
}).mount('#basic-event')
</script>

<!-- Sin embargo, la lógica para muchos controladores de eventos será más compleja, por lo que mantener su JavaScript en el valor del v-onatributo no es factible. Es por eso v-onque también puede aceptar el nombre de un método al que le gustaría llamar.

Por ejemplo: -->

<div id="event-with-method">
  <!-- `greet` is the name of a method defined below -->
  <button @click="greet">Greet</button>
</div>

<script>
Vue.createApp({
  data() {
    return {
      name: 'Vue.js'
    }
  },
  methods: {
    greet(event) {
      // `this` inside methods points to the current active instance
      alert('Hello ' + this.name + '!')
      // `event` is the native DOM event
      if (event) {
        alert(event.target.tagName)
      }
    }
  }
}).mount('#event-with-method')
</script>

<!-- En lugar de enlazar directamente a un nombre de método, también podemos usar métodos en una declaración de JavaScript en línea: -->

<div id="inline-handler">
  <button @click="say('hi')">Say hi</button>
  <button @click="say('what')">Say what</button>
</div>

<script>
Vue.createApp({
  methods: {
    say(message) {
      alert(message)
    }
  }
}).mount('#inline-handler')
</script>

<!-- A veces también necesitamos acceder al evento DOM original en un controlador de declaraciones en línea. Puedes pasarlo a un método usando la $eventvariable especial : -->

<button @click="warn('Form cannot be submitted yet.', $event)">
  Submit
</button>

<script>
methods: {
  warn(message, event) {
    // now we have access to the native event
    if (event) {
      event.preventDefault()
    }
    alert(message)
  }
}
</script>

<!-- Puede tener varios métodos en un controlador de eventos separados por un operador de coma como este: -->

<button @click="one($event), two($event)">
  Submit
</button>

<script>
methods: {
  one(event) {
    // first handler logic...
  },
  two(event) {
    // second handler logic...
  }
}
</script>

<!-- Modificadores de eventos
Es una necesidad muy común llamar event.preventDefault()o event.stopPropagation()dentro de los controladores de eventos. Aunque podemos hacer esto fácilmente dentro de los métodos, sería mejor si los métodos pudieran ser puramente sobre lógica de datos en lugar de tener que lidiar con detalles de eventos DOM.

Para abordar este problema, Vue proporciona modificadores de eventos para v-on. Recuerde que los modificadores son sufijos de directivas indicados por un punto. 

.stop
.prevent
.capture
.self
.once
.passive
-->

<!-- se detendrá la propagación del evento de clic -->
<a @click.stop="doThis"></a>

<!-- el evento de envío ya no volverá a cargar la página -->
<form @submit.prevent="onSubmit"></form>

<!-- modificadores se pueden encadenar -->
<a @click.stop.prevent="doThat"></a>

<!-- Solo la modificadora -->
<form @submit.prevent></form>

<!-- use el modo de captura al agregar el detector de eventos -->
<!-- es decir, un evento dirigido a un elemento interno se maneja aquí antes de ser manejado por ese elemento -->
<div @click.capture="doThis">...</div>

<!-- solo maneja el disparador si event.target es el propio elemento -->
<!-- es decir, no de un elemento hijo -->
<div @click.self="doThat">...</div>

<!-- El orden es importante cuando se utilizan modificadores porque el código relevante se genera en el mismo orden. Por lo tanto, el uso @click.prevent.self evitará todos los clics, mientras @click.self.prevent que solo evitará los clics en el elemento en sí. -->

<!-- el evento de clic se activará como máximo una vez -->
<a @click.once="doThis"></a>

<!-- Vue también ofrece el .passive modificador, correspondiente a addEventListener la passive. -->

<!-- ocurrirá el comportamiento predeterminado del evento de desplazamiento (desplazamiento) ->
inmediatamente, en lugar de esperar a que `onScroll` se complete
en caso de que contenga `event.preventDefault ()` -->

<div @scroll.passive="onScroll">...</div>

<!-- El .passivemodificador es especialmente útil para mejorar el rendimiento en dispositivos móviles.

No use .passivey .preventjuntos, porque .preventserá ignorado y su navegador probablemente le mostrará una advertencia. Recuerde, le .passivecomunica al navegador que no desea evitar el comportamiento predeterminado del evento. -->


<!-- Modificadores de teclas 
Cuando escuchamos eventos de teclado, a menudo necesitamos buscar teclas específicas. Vue permite agregar modificadores de clave para v-ono @al escuchar eventos clave: -->

<!-- solo llame a `vm.submit ()` cuando la `clave` es` Enter` -->
<input @keyup.enter="submit" />

<!-- Puede usar directamente cualquier nombre de clave válido expuesto a través de KeyboardEvent.key (abre una nueva ventana)como modificadores convirtiéndolos a kebab-case. -->

<input @keyup.page-down="onPageDown" />

<!-- En el ejemplo anterior, solo se llamará al controlador si $event.keyes igual a 'PageDown'.

Alias ​​de clave
Vue proporciona alias para las claves más utilizadas:

.enter
.tab
.delete (captura las teclas "Eliminar" y "Retroceso")
.esc
.space
.up
.down
.left
.right

Teclas modificadoras del sistema
Puede usar los siguientes modificadores para activar los detectores de eventos del mouse o del teclado solo cuando se presiona la tecla modificadora correspondiente:

.ctrl
.alt
.shift
.meta

Tenga en cuenta que las teclas modificadoras son diferentes de las teclas normales y, cuando se usan con keyupeventos, deben presionarse cuando se emite el evento. En otras palabras, keyup.ctrlsolo se activará si suelta una tecla mientras la mantiene presionada ctrl. No se disparará si suelta la ctrltecla solo

El .exact modificador permite controlar la combinación exacta de modificadores del sistema necesarios para desencadenar un evento. -->

<!-- esto se disparará incluso si también se presiona Alt o Shift -->
<button @click.ctrl="onClick">A</button>

<!-- esto solo se activará cuando se presione Ctrl y no se presionen otras teclas -->
<button @click.ctrl.exact="onCtrlClick">A</button>

<!-- esto solo se disparará cuando no se presionen modificadores del sistema -->
<button @click.exact="onClick">A</button>

<!-- Modificadores de botones del mouse
.left
.right
.middle
Estos modificadores restringen el controlador a eventos activados por un botón específico del mouse. -->











































<!------------------------------------------ Enlaces de entrada de formulario ---------------------------------------------

Puede utilizar la v-modeldirectiva para crear enlaces de datos bidireccionales en la entrada de formulario, el área de texto y los elementos seleccionados. Selecciona automáticamente la forma correcta de actualizar el elemento según el tipo de entrada. Aunque es un poco mágico, v-modeles esencialmente un azúcar de sintaxis para actualizar datos sobre eventos de entrada del usuario, además de un cuidado especial para algunos casos extremos -->

<input v-model="message" placeholder="edit me">
<p>Message is: {{ message }}</p>

<!-- Texto de varias líneas -->

<span>Multiline message is:</span>
<p style="white-space: pre-line;">{{ message }}</p>
<br>
<textarea v-model="message" placeholder="add multiple lines"></textarea>

<!-- Caja --
Casilla de verificación única, valor booleano: -->

<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>

<!-- Varias casillas de verificación, vinculadas a la misma matriz: -->

<div id="v-model-multiple-checkboxes">
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkedNames" />
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
  <label for="mike">Mike</label>
  <br />
  <span>Checked names: {{ checkedNames }}</span>
</div>

<script>
Vue.createApp({
  data() {
    return {
      checkedNames: []
    }
  }
}).mount('#v-model-multiple-checkboxes')
</script>


<!-- Radio -->

<div id="v-model-radiobutton">
  <input type="radio" id="one" value="One" v-model="picked" />
  <label for="one">One</label>
  <br />
  <input type="radio" id="two" value="Two" v-model="picked" />
  <label for="two">Two</label>
  <br />
  <span>Picked: {{ picked }}</span>
</div>

<script>
Vue.createApp({
  data() {
    return {
      picked: ''
    }
  }
}).mount('#v-model-radiobutton')
</script>



<!-- Selección única -->

<div id="v-model-select" class="demo">
  <select v-model="selected">
    <option disabled value="">Please select one</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ selected }}</span>
</div>

<script>
Vue.createApp({
  data() {
    return {
      selected: ''
    }
  }
}).mount('#v-model-select')
</script>

<!-- Opciones dinámicas renderizadas con v-for: -->

<div id="v-model-select-dynamic" class="demo">
  <select v-model="selected">
    <option v-for="option in options" :value="option.value">
      {{ option.text }}
    </option>
  </select>
  <span>Selected: {{ selected }}</span>
</div>

<script>
Vue.createApp({
  data() {
    return {
      selected: 'A',
      options: [
        { text: 'One', value: 'A' },
        { text: 'Two', value: 'B' },
        { text: 'Three', value: 'C' }
      ]
    }
  }
}).mount('#v-model-select-dynamic')
</script>


<!-- Vinculaciones de valor
Para las opciones de radio, checkbox y select, los v-modelvalores de enlace suelen ser cadenas estáticas (o booleanos para checkbox): -->

<!-- `picked` is a string "a" when checked -->
<input type="radio" v-model="picked" value="a" />

<!-- `toggle` is either true or false -->
<input type="checkbox" v-model="toggle" />

<!-- `selected` is a string "abc" when the first option is selected -->
<select v-model="selected">
  <option value="abc">ABC</option>
</select>


<!-- 

Pero a veces es posible que deseemos vincular el valor a una propiedad dinámica en la instancia activa actual. Podemos utilizar v-bindpara lograrlo. Además, el uso v-bindnos permite vincular el valor de entrada a valores que no son cadenas.

#Caja -->

<input type="checkbox" v-model="toggle" true-value="yes" false-value="no" />

<script>
// when checked:
vm.toggle === 'yes'
// when unchecked:
vm.toggle === 'no'
</script>

<!-- Radio -->

<script>
// when checked:
vm.pick === vm.a
</script>



<!-- Modificadores
.lazy

De forma predeterminada, v-modelsincroniza la entrada con los datos después de cada inputevento (con la excepción de la composición de IME como se indicó anteriormente ). Puede agregar el lazymodificador para sincronizar después de los change eventos:

-->

<!-- sincronizado después de "cambiar" en lugar de "entrada" -->

<input v-model.lazy="msg" />

<!-- .number

Si desea que la entrada del usuario se encasille automáticamente como un número, puede agregar el number modificador a sus v-model e ntradas administradas: -->

<input v-model.number="age" type="number" />

<!-- 

Esto suele ser útil, porque incluso con type="number", el valor de los elementos de entrada HTML siempre devuelve una cadena. Si el valor no se puede analizar parseFloat(), se devuelve el valor original. 


.trim
Si desea que los espacios en blanco de la entrada del usuario se recorten automáticamente, puede agregar el trimmodificador a sus v-modelentradas administradas:

-->

<input v-model.trim="msg" />