<!-- Componentes en profundidad 

Nombre Carcasa
Al definir componentes en una plantilla de cadena o un componente de un solo archivo, tiene dos opciones al definir los nombres de los componentes:

#Con estuche para kebab -->

<script>
app.component('my-component-name', {
  /* ... */
})
</script>

<!-- Al definir un componente con kebab-case, también debe usar kebab-case al hacer referencia a su elemento personalizado, como en <my-component-name> 

Con PascalCase
-->

<script>
app.component('MyComponentName', {
  /* ... */
})
</script>

<!-- 

Al definir un componente con PascalCase, puede usar cualquier caso al hacer referencia a su elemento personalizado. Eso significa que ambos <my-component-name>y <MyComponentName>son aceptables. Sin embargo, tenga en cuenta que solo los nombres de mayúsculas y minúsculas de kebab son válidos directamente en el DOM (es decir, plantillas que no son cadenas).

#Registro global
Hasta ahora, solo hemos creado componentes usando app.component:

-->

<script>
Vue.createApp({...}).component('my-component-name', {
  // ... options ...
})

//Estos componentes están registrados globalmente para la aplicación. Eso significa que se pueden usar en la plantilla de cualquier instancia de componente dentro de esta aplicación:

const app = Vue.createApp({})

app.component('component-a', {
  /* ... */
})
app.component('component-b', {
  /* ... */
})
app.component('component-c', {
  /* ... */
})

app.mount('#app')

</script>

<div id="app">
  <component-a></component-a>
  <component-b></component-b>
  <component-c></component-c>
</div>

<!-- Esto incluso se aplica a todos los subcomponentes, lo que significa que los tres componentes también estarán disponibles uno dentro del otro -->

<script>
const ComponentA = {
  /* ... */
}
const ComponentB = {
  /* ... */
}
const ComponentC = {
  /* ... */
}

//Luego, defina los componentes que le gustaría usar en una components opción:

const app = Vue.createApp({
  components: {
    'component-a': ComponentA,
    'component-b': ComponentB
  }
})

//Tenga en cuenta que los componentes registrados localmente tampoco están disponibles en subcomponentes . Por ejemplo, si quisiera ComponentA estar disponible en ComponentB, tendría que usar:

const ComponentA = {
  /* ... */
}

const ComponentB = {
  components: {
    'component-a': ComponentA
  }
  // ...
}

//O si está utilizando módulos ES2015, como a través de Babel y Webpack, eso podría parecerse más a:

import ComponentA from './ComponentA.vue'

export default {
  components: {
    ComponentA
  }
  // ...
}

/*Registro local en un sistema modular
Si todavía está aquí, es probable que esté usando un sistema de módulos, como con Babel y Webpack. En estos casos, recomendamos crear un components directorio, con cada componente en su propio archivo.

Luego, deberá importar cada componente que le gustaría usar, antes de registrarlo localmente. Por ejemplo, en un archivo hipotético ComponentB.js o ComponentB.vue:*/

import ComponentA from './ComponentA'
import ComponentC from './ComponentC'

export default {
  components: {
    ComponentA,
    ComponentC
  }
  // ...
}

//Ahora ambos ComponentAy ComponentCse pueden usar dentro ComponentB de la plantilla.
</script>











































<!-- 

Accesorios
Hasta ahora, solo hemos visto accesorios enumerados como una matriz de cadenas:

-->

<script>
props: ['title', 'likes', 'isPublished', 'commentIds', 'author']

//Sin embargo, por lo general, querrás que cada accesorio tenga un tipo específico de valor. En estos casos, puede enumerar los accesorios como un objeto, donde los nombres y valores de las propiedades contienen los nombres y tipos de accesorios, respectivamente:

props: {
  title: String,
  likes: Number,
  isPublished: Boolean,
  commentIds: Array,
  author: Object,
  callback: Function,
  contactsPromise: Promise // or any other constructor
}

</script>

<!-- 

Pasar apoyos estáticos o dinámicos
Hasta ahora, has visto que los accesorios pasan un valor estático, como en: 

También ha visto accesorios asignados dinámicamente con v-bindo su atajo, el :personaje, como en:

-->

<blog-post title="My journey with Vue"></blog-post>

<!-- Dynamically assign the value of a variable -->
<blog-post :title="post.title"></blog-post>

<!-- Dynamically assign the value of a complex expression -->
<blog-post :title="post.title + ' by ' + post.author.name"></blog-post>

<!--

En los dos ejemplos anteriores, pasamos valores de cadena, pero cualquier tipo de valor se puede pasar a una propiedad.

#Pasando un número

-->

<blog-post :likes="42"></blog-post>

<blog-post :likes="post.likes"></blog-post>


<!-- Pasando un booleano -->

<blog-post is-published></blog-post>

<blog-post :is-published="false"></blog-post>

<blog-post :is-published="post.isPublished"></blog-post>


<!-- Pasando una matriz -->

<blog-post :comment-ids="[234, 266, 273]"></blog-post>

<blog-post :comment-ids="post.commentIds"></blog-post>

<!-- Pasar un objeto -->

<blog-post
  :author="{
    name: 'Veronica',
    company: 'Veridian Dynamics'
  }"
></blog-post>

<blog-post :author="post.author"></blog-post>

<!-- 

Pasar las propiedades de un objeto
Si desea pasar todas las propiedades de un objeto como accesorios, puede usarlo v-bind sin un argumento (en v-bind lugar de :prop-name). Por ejemplo, dado un postobjeto: 

-->

<script>
post: {
  id: 1,
  title: 'My Journey with Vue'
}
</script>

<!-- La siguiente plantilla: -->
<blog-post v-bind="post"></blog-post>
<!-- Será equivalente a: -->
<blog-post v-bind:id="post.id" v-bind:title="post.title"></blog-post>

<!--

Flujo de datos unidireccional
Todos los accesorios forman un enlace unidireccional entre la propiedad secundaria y la principal: cuando la propiedad principal se actualiza, fluirá hacia la secundaria, pero no al revés. Esto evita que los componentes secundarios muten accidentalmente el estado principal, lo que puede dificultar la comprensión del flujo de datos de su aplicación.

Además, cada vez que se actualiza el componente principal, todos los accesorios del componente secundario se actualizarán con el último valor. Esto significa que no debe intentar mutar un accesorio dentro de un componente secundario. Si lo hace, Vue le advertirá en la consola.

Por lo general, hay dos casos en los que es tentador mutar un accesorio:

El prop se usa para pasar un valor inicial; el componente hijo quiere usarlo como una propiedad de datos local posteriormente. En este caso, es mejor definir una propiedad de datos local que use la propiedad como su valor inicial:

-->

<script>
props: ['initialCounter'],
data() {
  return {
    counter: this.initialCounter
  }
}

/*
Validación de prop
Los componentes pueden especificar requisitos para sus accesorios, como los tipos que ya ha visto. Si no se cumple un requisito, Vue le advertirá en la consola JavaScript del navegador. Esto es especialmente útil cuando se desarrolla un componente que está destinado a ser utilizado por otros.

Para especificar validaciones de propiedades, puede proporcionar un objeto con requisitos de validación con el valor de props, en lugar de una matriz de cadenas. Por ejemplo:
*/

app.component('my-component', {
  props: {
    // Basic type check (`null` and `undefined` values will pass any type validation)
    propA: Number,
    // Multiple possible types
    propB: [String, Number],
    // Required string
    propC: {
      type: String,
      required: true
    },
    // Number with a default value
    propD: {
      type: Number,
      default: 100
    },
    // Object with a default value
    propE: {
      type: Object,
      // Object or array defaults must be returned from
      // a factory function
      default() {
        return { message: 'hello' }
      }
    },
    // Custom validator function
    propF: {
      validator(value) {
        // The value must match one of these strings
        return ['success', 'warning', 'danger'].includes(value)
      }
    },
    // Function with a default value
    propG: {
      type: Function,
      // Unlike object or array default, this is not a factory function - this is a function to serve as a default value
      default() {
        return 'Default function'
      }
    }
  }
})
</script>
























































<!-- 

Atributos no propuestos

Un atributo de componente no prop es un atributo o detector de eventos que se pasa a un componente, pero no tiene una propiedad correspondiente definida en props o emite . Los ejemplos más comunes de esto son class, styley idatributos. Puede acceder a esos atributos a través de la $attrspropiedad.

#Herencia de atributos

Cuando un componente devuelve un solo nodo raíz, los atributos que no son de propiedad se agregarán automáticamente a los atributos del nodo raíz. Por ejemplo, en el caso de un componente selector de fecha:

-->

<script>
app.component('date-picker', {
  template: `
    <div class="date-picker">
      <input type="datetime-local" />
    </div>
  `
})
</script>

<!-- En el caso de que necesitemos definir el estado del componente selector de fecha a través de una data-statuspropiedad, se aplicará al nodo raíz (es decir, div.date-picker). -->

<!-- Date-picker component with a non-prop attribute -->
<date-picker data-status="activated"></date-picker>

<!-- Rendered date-picker component -->
<div class="date-picker" data-status="activated">
  <input type="datetime-local" />
</div>

<!-- La misma regla se aplica a los oyentes de eventos: -->

<script>
app.component('date-picker', {
  created() {
    console.log(this.$attrs) // { onChange: () => {}  }
  }
})
</script>

<!-- Esto puede resultar útil cuando tenemos un elemento HTML con un change evento como elemento raíz de date-picker. --> 

<script>
app.component('date-picker', {
  template: `
    <select>
      <option value="1">Yesterday</option>
      <option value="2">Today</option>
      <option value="3">Tomorrow</option>
    </select>
  `
})
</script>

<!-- En este caso, el changedetector de eventos se pasa del componente principal al secundario y se activará en el <select> change evento nativo . No necesitaremos emitir un evento desde date-picker explícitamente: -->

<div id="date-picker" class="demo">
  <date-picker @change="showChange"></date-picker>
</div>

<script>
const app = Vue.createApp({
  methods: {
    showChange(event) {
      console.log(event.target.value) // will log a value of the selected option
    }
  }
})
</script> 

<!-- 

Deshabilitar la herencia de atributos
Si no desea que un componente herede atributos automáticamente, puede configurar inheritAttrs: falselas opciones del componente.

El escenario común para deshabilitar la herencia de un atributo es cuando los atributos deben aplicarse a otros elementos además del nodo raíz.

Al establecer la inheritAttrs opción de false, se puede controlar a aplicar a otros elementos atribuye a utilizar el componente de $attrs propiedad, que incluye todos los atributos no incluidos al componente propsy emits propiedades (por ejemplo, class, style, v-onoyentes, etc.).

Usando nuestro ejemplo de componente selector de fecha de la sección anterior , en el caso de que necesitemos aplicar todos los atributos que no son de propiedad al input elemento en lugar del div elemento raíz , esto se puede lograr usando el v-bind atajo.

-->

<script>
app.component('date-picker', {
  inheritAttrs: false,
  template: `
    <div class="date-picker">
      <input type="datetime-local" v-bind="$attrs" />
    </div>
  `
})
</script>

<!-- ¡Con esta nueva configuración, nuestro data-statusatributo se aplicará a nuestro inputelemento! -->

<date-picker data-status="activated"></date-picker>

<!-- Rendered date-picker component -->
<div class="date-picker">
  <input type="datetime-local" data-status="activated" />
</div>

<!-- 

Herencia de atributos en varios nodos raíz
A diferencia de los componentes de un solo nodo raíz, los componentes con varios nodos raíz no tienen un comportamiento de caída de atributo automático. Si $attrsno están vinculados explícitamente, se emitirá una advertencia de tiempo de ejecución. 

-->

<custom-layout id="custom-layout" @click="changeValue"></custom-layout>

<script>
// This will raise a warning
app.component('custom-layout', {
  template: `
    <header>...</header>
    <main>...</main>
    <footer>...</footer>
  `
})

// No warnings, $attrs are passed to <main> element
app.component('custom-layout', {
  template: `
    <header>...</header>
    <main v-bind="$attrs">...</main>
    <footer>...</footer>
  `
})
</script>

















































<!--

Eventos personalizados

Nombres de eventos
Al igual que los componentes y los accesorios, los nombres de eventos proporcionan una transformación automática de casos. Si emite un evento desde el componente secundario en caso de camello, podrá agregar un oyente en mayúsculas y minúsculas en el elemento primario:

-->

<script>
this.$emit('myEvent')
</script>

<my-component @my-event="doSomething"></my-component>

<!-- 

Al igual que con la carcasa de accesorios , recomendamos usar detectores de eventos en mayúsculas y minúsculas cuando use plantillas en DOM. Si está utilizando plantillas de cadenas, esta limitación no se aplica.

Los eventos emitidos se pueden definir en el componente a través de la emits opción.

-->

<script>
app.component('custom-form', {
  emits: ['inFocus', 'submit']
})
</script>

<!-- 

Cuando clickse define un evento nativo (por ejemplo, ) en la emits opción, el evento del componente se utilizará en lugar de un detector de eventos nativo. 

Validar eventos emitidos
Similar a la validación de tipo de prop, un evento emitido se puede validar si se define con la sintaxis de Object en lugar de la sintaxis de matriz.

Para agregar validación, al evento se le asigna una función que recibe los argumentos pasados ​​a la $emit llamada y devuelve un booleano para indicar si el evento es válido o no.

-->

<script>
app.component('custom-form', {
  emits: {
    // No validation
    click: null,

    // Validate submit event
    submit: ({ email, password }) => {
      if (email && password) {
        return true
      } else {
        console.warn('Invalid submit event payload!')
        return false
      }
    }
  },
  methods: {
    submitForm(email, password) {
      this.$emit('submit', { email, password })
    }
  }
})
</script>

<!--

v-model argumentos

De forma predeterminada, v-modelen un componente se utiliza modelValuecomo accesorio y update:modelValuecomo evento. Podemos modificar estos nombres pasando un argumento a v-model

-->

<my-component v-model:title="bookTitle"></my-component>

<!-- En este caso, el componente hijo esperará un evento title prop y emite update:title para sincronizar: -->

<script>
app.component('my-component', {
  props: {
    title: String
  },
  emits: ['update:title'],
  template: `
    <input
      type="text"
      :value="title"
      @input="$emit('update:title', $event.target.value)">
  `
})
</script>

<my-component v-model:title="bookTitle"></my-component>

<!--

Múltiples v-model enlaces
Al aprovechar la capacidad de apuntar a un accesorio y evento en particular, como aprendimos antes con v-model argumentos , ahora podemos crear múltiples enlaces de modelo v en una sola instancia de componente.

Cada modelo v se sincronizará con un accesorio diferente, sin la necesidad de opciones adicionales en el componente:

-->

<user-name
  v-model:first-name="firstName"
  v-model:last-name="lastName"
></user-name>

<script>
app.component('user-name', {
  props: {
    firstName: String,
    lastName: String
  },
  emits: ['update:firstName', 'update:lastName'],
  template: `
    <input
      type="text"
      :value="firstName"
      @input="$emit('update:firstName', $event.target.value)">

    <input
      type="text"
      :value="lastName"
      @input="$emit('update:lastName', $event.target.value)">
  `
})
</script>

<!-- 

Manejo de v-model modificadores
Cuando estábamos aprendiendo sobre los enlaces de entrada de formulario, vimos que v-modelse ha incorporado en los modificadores - .trim, .numbery .lazy. En algunos casos, sin embargo, es posible que también desee agregar sus propios modificadores personalizados.

Creemos un modificador personalizado de ejemplo capitalize, que pone en mayúscula la primera letra de la cadena proporcionada por el v-modelenlace.

Los modificadores agregados a un componente v-model se proporcionarán al componente a través de modelModifiers prop. En el siguiente ejemplo, hemos creado un componente que contiene un modelModifiers accesorio que por defecto es un objeto vacío.

Tenga en cuenta que cuando se created activa el enlace del ciclo de vida del componente , la modelModifiers propiedad contiene capitalize y su valor es true, debido a que está establecido en el v-model enlace v-model.capitalize="myText".

-->

<my-component v-model.capitalize="myText"></my-component>

<script>
app.component('my-component', {
  props: {
    modelValue: String,
    modelModifiers: {
      default: () => ({})
    }
  },
  emits: ['update:modelValue'],
  template: `
    <input type="text"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)">
  `,
  created() {
    console.log(this.modelModifiers) // { capitalize: true }
  }
})
</script>

<!-- 

Ahora que tenemos nuestro prop configurado, podemos verificar las modelModifiersclaves del objeto y escribir un controlador para cambiar el valor emitido. En el código a continuación, escribiremos en mayúscula la cadena siempre que el <input /> elemento active un inputevento.

-->

<script>
const app = Vue.createApp({
  data() {
    return {
      myText: ''
    }
  }
})

app.component('my-component', {
  props: {
    modelValue: String,
    modelModifiers: {
      default: () => ({})
    }
  },
  emits: ['update:modelValue'],
  methods: {
    emitValue(e) {
      let value = e.target.value
      if (this.modelModifiers.capitalize) {
        value = value.charAt(0).toUpperCase() + value.slice(1)
      }
      this.$emit('update:modelValue', value)
    }
  },
  template: `<input
    type="text"
    :value="modelValue"
    @input="emitValue">`
})

app.mount('#app')
</script>

<!-- Para v-model enlaces con argumentos, el nombre de propiedad generado será arg + "Modifiers": -->

<my-component v-model:description.capitalize="myText"></my-component>

<script>
app.component('my-component', {
  props: ['description', 'descriptionModifiers'],
  emits: ['update:description'],
  template: `
    <input type="text"
      :value="description"
      @input="$emit('update:description', $event.target.value)">
  `,
  created() {
    console.log(this.descriptionModifiers) // { capitalize: true }
  }
})
</script>


















































<!--

Ranuras o slots

Vue implementa una API de distribución de contenido inspirada en el borrador de especificaciones de componentes web (abre una nueva ventana), utilizando el <slot>elemento para servir como canales de distribución de contenido.

Esto le permite componer componentes como este:

-->

<todo-button>
  Add todo
</todo-button>

<!-- Luego, en la plantilla para <todo-button>, es posible que tenga: -->

<button class="btn-primary">
  <slot></slot>
</button>

<!-- Cuando el componente se procese, <slot></slot>será reemplazado por "Agregar todo". -->

<button class="btn-primary">
  Add todo
</button>

<!-- ¡Las cuerdas son solo el comienzo! Las ranuras también pueden contener cualquier código de plantilla, incluido HTML: -->

<todo-button>
  <!-- Add a Font Awesome icon -->
  <i class="fas fa-plus"></i>
  Add todo
</todo-button>

<!-- O incluso otros componentes: -->

<todo-button>
  <!-- Use a component to add an icon -->
  <font-awesome-icon name="plus"></font-awesome-icon>
  Add todo
</todo-button>

<!-- Si <todo-button>la plantilla de ' no contiene un <slot>elemento, cualquier contenido proporcionado entre su etiqueta de apertura y cierre será descartado. -->

<button class="btn-primary">
  Create a new item
</button>

<todo-button>
  <!-- Following text won't be rendered -->
  Add todo
</todo-button>

<!-- Cuando desee utilizar datos dentro de una ranura, como en: -->

<todo-button>
  Delete a {{ item.name }}
</todo-button>

<!-- 

Ese espacio tiene acceso a las mismas propiedades de instancia (es decir, el mismo "alcance") que el resto de la plantilla. 

La ranura no tiene acceso al <todo-button>alcance de. Por ejemplo, intentar acceder actionno funcionaría:

--> 

<todo-button action="delete">
  Clicking here will {{ action }} an item
</todo-button>

<!-- Contenido de reserva
Hay casos en los que es útil especificar contenido de reserva (es decir, predeterminado) para un espacio, que se procesará solo cuando no se proporcione contenido. Por ejemplo, en un <submit-button>componente: -->

<button type="submit">
  <slot></slot>
</button>

<!--

Es posible que deseemos que el texto "Enviar" se muestre en el interior la <button>mayor parte del tiempo. Para hacer "Enviar" el contenido de respaldo, podemos colocarlo entre las <slot> etiquetas:

-->

<button type="submit">
  <slot>Submit</slot>
</button>

<!-- Ahora, cuando usamos <submit-button>en un componente principal, no proporcionamos contenido para el espacio: -->

<submit-button></submit-button>

<!-- renderizará el contenido de reserva, "Enviar": -->

<button type="submit">
  Submit
</button>

<!-- Pero si proporcionamos contenido: -->

<submit-button>
  Save
</submit-button>

<!-- Entonces, el contenido proporcionado se renderizará en su lugar: -->

<button type="submit">
  Save
</button>

<!-- 

Tragamonedas con nombre
Hay ocasiones en las que es útil tener varias máquinas tragamonedas. Por ejemplo, en un <base-layout>componente con la siguiente plantilla:

-->

<div class="container">
  <header>
    <!-- We want header content here -->
  </header>
  <main>
    <!-- We want main content here -->
  </main>
  <footer>
    <!-- We want footer content here -->
  </footer>
</div>

<!-- Para estos casos, el <slot> elemento tiene un atributo especial name, que se puede usar para asignar una ID única a diferentes ranuras para que pueda determinar dónde se debe representar el contenido: --> 

<div class="container">
  <header>
    <slot name="header"></slot>
  </header>
  <main>
    <slot></slot>
  </main>
  <footer>
    <slot name="footer"></slot>
  </footer>
</div>

<!-- 

Una <slot>salida sin nameimplícitamente tiene el nombre "predeterminado".

Para proporcionar contenido a las ranuras con nombre, necesitamos usar la v-slot directiva en un <template> elemento, proporcionando el nombre de la ranura como v-slot argumento: 

-->

<base-layout>
  <template v-slot:header>
    <h1>Here might be a page title</h1>
  </template>

  <template v-slot:default>
    <p>A paragraph for the main content.</p>
    <p>And another one.</p>
  </template>

  <template v-slot:footer>
    <p>Here's some contact info</p>
  </template>
</base-layout>

<!-- 

Ahora todo lo que hay dentro de los <template>elementos se pasará a las ranuras correspondientes.
El HTML renderizado será: 

-->

<div class="container">
  <header>
    <h1>Here might be a page title</h1>
  </header>
  <main>
    <p>A paragraph for the main content.</p>
    <p>And another one.</p>
  </main>
  <footer>
    <p>Here's some contact info</p>
  </footer>
</div>

<!--

Tenga en cuenta que v-slotsolo se puede agregar a<template> (con una excepción )

#Ranuras con ámbito
A veces, es útil que el contenido de las tragamonedas tenga acceso a los datos que solo están disponibles en el componente secundario. Es un caso común cuando un componente se usa para representar una matriz de elementos, y queremos poder personalizar la forma en que se representa cada elemento.

Por ejemplo, tenemos un componente que contiene una lista de tareas pendientes.

-->

<script>
app.component('todo-list', {
  data() {
    return {
      items: ['Feed a cat', 'Buy milk']
    }
  },
  template: `
    <ul>
      <li v-for="(item, index) in items">
        {{ item }}
      </li>
    </ul>
  `
})
</script>

<!-- Es posible que deseemos reemplazar el {{ item }} con un <slot> para personalizarlo en el componente principal: --> 

<todo-list>
  <i class="fas fa-check"></i>
  <span class="green">{{ item }}</span>
</todo-list>

<!-- 

Sin embargo, eso no funcionará porque solo el <todo-list>componente tiene acceso al itemy estamos proporcionando el contenido de la ranura de su padre.

Para poner a itemdisposición el contenido del espacio proporcionado por el padre, podemos agregar un <slot>elemento y vincularlo como un atributo:

-->

<ul>
  <li v-for="( item, index ) in items">
    <slot :item="item"></slot>
  </li>
</ul>

<!-- Puede vincular tantos atributos slot como necesite: -->

<ul>
  <li v-for="( item, index ) in items">
    <slot :item="item" :index="index" :another-attribute="anotherAttribute"></slot>
  </li>
</ul>

<!-- Los atributos vinculados a un <slot> elemento se denominan accesorios de ranura . Ahora, en el ámbito principal, podemos usar v-slot con un valor para definir un nombre para los accesorios de ranura que se nos han proporcionado: -->

<todo-list>
  <template v-slot:default="slotProps">
    <i class="fas fa-check"></i>
    <span class="green">{{ slotProps.item }}</span>
  </template>
</todo-list>

<!-- 

En este ejemplo, hemos elegido nombrar el objeto que contiene todos nuestros accesorios de tragamonedas slotProps, pero puede usar el nombre que desee.

#Sintaxis abreviada para ranuras predeterminadas solitarias
En casos como el anterior, cuando solo se proporciona el contenido del espacio predeterminado, las etiquetas del componente se pueden usar como plantilla del espacio. Esto nos permite usar v-slotdirectamente en el componente:

-->

<todo-list v-slot:default="slotProps">
  <i class="fas fa-check"></i>
  <span class="green">{{ slotProps.item }}</span>
</todo-list>

<!-- 

Esto se puede acortar aún más. Así como se supone que el contenido no especificado es para el espacio predeterminado, v-slotsin un argumento se supone que se refiere al espacio predeterminado: -->

<todo-list v-slot="slotProps">
  <i class="fas fa-check"></i>
  <span class="green">{{ slotProps.item }}</span>
</todo-list>

<!-- 

Tenga en cuenta que la sintaxis abreviada para la ranura predeterminada no se puede mezclar con las ranuras con nombre, ya que daría lugar a ambigüedad en el alcance: 

-->

<todo-list v-slot="slotProps">
  <i class="fas fa-check"></i>
  <span class="green">{{ slotProps.item }}</span>

  <template v-slot:other="otherSlotProps">
    slotProps is NOT available here
  </template>
</todo-list>

<!-- Siempre que haya varias ranuras, utilice la <template>sintaxis de base completa para todas las ranuras: -->

<todo-list>
  <template v-slot:default="slotProps">
    <i class="fas fa-check"></i>
    <span class="green">{{ slotProps.item }}</span>
  </template>

  <template v-slot:other="otherSlotProps">
    ...
  </template>
</todo-list>

<!-- 

Desestructuración de los apoyos de las ranuras
Internamente, las ranuras con alcance funcionan al envolver el contenido de su ranura en una función que pasa un solo argumento: 

-->

<script>
function (slotProps) {
  // ... slot content ...
}
</script>

<!-- 

Eso significa que el valor de v-slotpuede aceptar cualquier expresión JavaScript válida que pueda aparecer en la posición del argumento de una definición de función. Entonces también puede usar la desestructuración ES2015 (abre una nueva ventana)para sacar accesorios de tragamonedas específicos, así:

-->

<todo-list v-slot="{ item }">
  <i class="fas fa-check"></i>
  <span class="green">{{ item }}</span>
</todo-list>

<!-- Esto puede hacer que la plantilla sea mucho más limpia, especialmente cuando la ranura ofrece muchos accesorios. También abre otras posibilidades, como cambiar el nombre de los accesorios, por ejemplo, item para todo: -->

<todo-list v-slot="{ item: todo }">
  <i class="fas fa-check"></i>
  <span class="green">{{ todo }}</span>
</todo-list>

<!-- Incluso puede definir alternativas, para usar en caso de que un accesorio de tragamonedas no esté definido: -->

<todo-list v-slot="{ item = 'Placeholder' }">
  <i class="fas fa-check"></i>
  <span class="green">{{ item }}</span>
</todo-list>

<!--

Nombres de ranuras dinámicas
Los argumentos de directivas dinámicas también funcionan v-slot, lo que permite la definición de nombres de ranuras dinámicas:

-->

<base-layout>
  <template v-slot:[dynamicSlotName]>
    ...
  </template>
</base-layout>

<!--

Taquigrafía de ranuras con nombre
Similar a v-ony v-bind, v-slottambién tiene una abreviatura, reemplazando todo antes del argumento ( v-slot:) con el símbolo especial #. Por ejemplo, v-slot:headerse puede reescribir como #header:

-->

<base-layout>
  <template #header>
    <h1>Here might be a page title</h1>
  </template>

  <template #default>
    <p>A paragraph for the main content.</p>
    <p>And another one.</p>
  </template>

  <template #footer>
    <p>Here's some contact info</p>
  </template>
</base-layout>

<!--

Sin embargo, al igual que con otras directivas, la abreviatura solo está disponible cuando se proporciona un argumento. Eso significa que la siguiente sintaxis no es válida:

-->

<todo-list #="{ item }">
  <i class="fas fa-check"></i>
  <span class="green">{{ item }}</span>
</todo-list>

<!--

En su lugar, siempre debe especificar el nombre de la ranura si desea utilizar la abreviatura: 

-->

<todo-list #default="{ item }">
  <i class="fas fa-check"></i>
  <span class="green">{{ item }}</span>
</todo-list>























































<!--

Proporcionar / inyectar

Por lo general, cuando necesitamos pasar datos del componente principal al secundario, usamos accesorios . Imagine la estructura en la que tiene algunos componentes profundamente anidados y solo necesita algo del componente principal en el hijo profundamente anidado. En este caso, aún debe pasar el accesorio por toda la cadena de componentes, lo que puede ser molesto.

Para tales casos, podemos usar el par providey inject. Los componentes principales pueden servir como proveedores de dependencia para todos sus elementos secundarios, independientemente de la profundidad de la jerarquía de componentes. Esta característica funciona en dos partes: el componente principal tiene una provideopción para proporcionar datos y el componente secundario tiene una injectopción para comenzar a usar estos datos.

Por ejemplo, si tenemos una jerarquía como esta:

Root
└─ TodoList
   ├─ TodoItem
   └─ TodoListFooter
      ├─ ClearTodosButton
      └─ TodoListStatistics


Si queremos pasar la longitud de los elementos de tarea directamente a TodoListStatistics, pasaríamos el accesorio por la jerarquía: TodoList-> TodoListFooter-> TodoListStatistics. Con el enfoque de proporcionar / inyectar, podemos hacer esto directamente:

-->

<script>
const app = Vue.createApp({})

app.component('todo-list', {
  data() {
    return {
      todos: ['Feed a cat', 'Buy tickets']
    }
  },
  provide: {
    user: 'John Doe'
  },
  template: `
    <div>
      {{ todos.length }}
      <!-- rest of the template -->
    </div>
  `
})

app.component('todo-list-statistics', {
  inject: ['user'],
  created() {
    console.log(`Injected property: ${this.user}`) // > Injected property: John Doe
  }
})

//Sin embargo, esto no funcionará si intentamos proporcionar alguna propiedad de instancia de componente aquí:

app.component('todo-list', {
  data() {
    return {
      todos: ['Feed a cat', 'Buy tickets']
    }
  },
  provide: {
    todoLength: this.todos.length // this will result in error `Cannot read property 'length' of undefined`
  },
  template: `
    ...
  `
})

</script>

<!-- 

Para acceder a las propiedades de la instancia del componente, necesitamos convertir provide para que sea una función que devuelva un objeto

-->

<script>
app.component('todo-list', {
  data() {
    return {
      todos: ['Feed a cat', 'Buy tickets']
    }
  },
  provide() {
    return {
      todoLength: this.todos.length
    }
  },
  template: `
    ...
  `
})
</script>

<!--

Trabajando con reactividad
En el ejemplo anterior, si cambiamos la lista de todos, este cambio no se reflejará en la todoLength propiedad inyectada . Esto se debe a que los provide/inject enlaces no son reactivos de forma predeterminada. Podemos cambiar este comportamiento pasando una ref propiedad u reactive objeto a provide. En nuestro caso, si quisiéramos reaccionar a los cambios en el componente ancestro, tendríamos que asignar una computed propiedad de API de composición a nuestro todoLength:

-->

<script>
app.component('todo-list', {
  // ...
  provide() {
    return {
      todoLength: Vue.computed(() => this.todos.length)
    }
  }
})

app.component('todo-list-statistics', {
  inject: ['todoLength'],
  created() {
    console.log(`Injected property: ${this.todoLength.value}`) // > Injected property: 5
  }
})
</script>

<!--

En este, cualquier cambio a todos.lengthse reflejará correctamente en los componentes, donde todoLengthse inyecta. Obtenga más información computeden la sección Computado y observación y reactiveproporcione / inyecte en la sección API de composición . 

-->
































































<!--

Componentes dinámicos con keep-alive
Anteriormente, usamos el isatributo para cambiar entre componentes en una interfaz con pestañas:

-->

<component :is="currentTabComponent"></component>

<!--

Sin embargo, al cambiar entre estos componentes, a veces querrá mantener su estado o evitar volver a renderizar por razones de rendimiento. Por ejemplo, al expandir un poco nuestra interfaz con pestañas

Notarás que si seleccionas una publicación, cambias a la pestaña Archivo y luego vuelves a Publicaciones , ya no se muestra la publicación que seleccionaste. Esto se debe a que cada vez que cambia a una nueva pestaña, Vue crea una nueva instancia de currentTabComponent.

La recreación de componentes dinámicos suele ser un comportamiento útil, pero en este caso, realmente nos gustaría que esas instancias de componentes de pestañas se almacenen en caché una vez que se crean por primera vez. Para resolver este problema, podemos envolver nuestro componente dinámico con un <keep-alive> elemento:

-->

<keep-alive>
  <component :is="currentTabComponent"></component>
</keep-alive>

<!--

Componentes asincrónicos
En aplicaciones grandes, es posible que necesitemos dividir la aplicación en partes más pequeñas y solo cargar un componente del servidor cuando sea necesario. Para hacerlo posible, Vue tiene un defineAsyncComponentmétodo:

-->

<script>
const { createApp, defineAsyncComponent } = Vue

const app = createApp({})

const AsyncComp = defineAsyncComponent(
  () =>
    new Promise((resolve, reject) => {
      resolve({
        template: '<div>I am async!</div>'
      })
    })
)

app.component('async-example', AsyncComp)
</script>

<!-- 

Como puede ver, este método acepta una función de fábrica que devuelve un Promise. resolveSe debe llamar a la devolución de llamada de Promise cuando haya recuperado la definición de su componente del servidor. También puede llamar reject(reason)para indicar que la carga ha fallado.

También puede devolver una Promisefunción de fábrica, por lo que con Webpack 2 o posterior y la sintaxis ES2015 puede hacer:

-->

<script>
import { defineAsyncComponent } from 'vue'

const AsyncComp = defineAsyncComponent(() =>
  import('./components/AsyncComponent.vue')
)

app.component('async-component', AsyncComp)

//También puede utilizar defineAsyncComponent al registrar un componente localmente :

import { createApp, defineAsyncComponent } from 'vue'

createApp({
  // ...
  components: {
    AsyncComponent: defineAsyncComponent(() =>
      import('./components/AsyncComponent.vue')
    )
  }
})

</script>



































































<!-- 

Referencias en plantillas 

A pesar de la existencia de accesorios y eventos, a veces es posible que deba acceder directamente a un componente secundario en JavaScript. Para lograr esto, puede asignar una ID de referencia al componente secundario o al elemento HTML mediante el ref atributo. Por ejemplo:

-->

<input ref="input" />

<!-- Esto puede ser útil cuando desee, por ejemplo, enfocar programáticamente esta entrada en el montaje de componentes: -->

<script>
const app = Vue.createApp({})

app.component('base-input', {
  template: `
    <input ref="input" />
  `,
  methods: {
    focusInput() {
      this.$refs.input.focus()
    }
  },
  mounted() {
    this.focusInput()
  }
})
</script>

<!-- Además, puede agregar otro refal componente en sí y usarlo para desencadenar un focusInputevento desde el componente principal: -->

<base-input ref="usernameInput"></base-input>

<script>
this.$refs.usernameInput.focusInput()
</script>