<!-- 

Conceptos básicos de los componentes

Ejemplo base:

Aquí hay un ejemplo de un componente de Vue:

-->

<script>
// Create a Vue application
const app = Vue.createApp({})

// Define a new global component called button-counter
app.component('button-counter', {
  data() {
    return {
      count: 0
    }
  },
  template: `
    <button @click="count++">
      You clicked me {{ count }} times.
    </button>`
})
</script>

<!-- Los componentes son instancias reutilizables con un nombre: en este caso <button-counter>,. Podemos usar este componente como un elemento personalizado dentro de una instancia raíz: -->

<div id="components-demo">
  <button-counter></button-counter>
</div>

<script>
app.mount('#components-demo')
</script>

<!-- 

Dado que los componentes son reutilizables casos, aceptan las mismas opciones que un ejemplo de raíz, tales como data, computed, watch, methodsganchos, y el ciclo de vida.

#Reutilización de componentes
Los componentes se pueden reutilizar tantas veces como desee:

-->

<div id="components-demo">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>

<!--

Pasar datos a componentes secundarios con accesorios
Anteriormente, mencionamos la creación de un componente para publicaciones de blog. El problema es que ese componente no será útil a menos que pueda pasarle datos, como el título y el contenido de la publicación específica que queremos mostrar. Ahí es donde entran en juego los accesorios.

Los accesorios son atributos personalizados que puede registrar en un componente. Para pasar un título a nuestro componente de publicación de blog, podemos incluirlo en la lista de accesorios que acepta este componente, usando la propsopción:

-->

<script>
const app = Vue.createApp({})

app.component('blog-post', {
  props: ['title'],
  template: `<h4>{{ title }}</h4>`
})

app.mount('#blog-post-demo')
</script>

<!-- Una vez que se registra un accesorio, puede pasarle datos como un atributo personalizado, como este: -->

<div id="blog-post-demo" class="demo">
  <blog-post title="My journey with Vue"></blog-post>
  <blog-post title="Blogging with Vue"></blog-post>
  <blog-post title="Why Vue is so fun"></blog-post>
</div>

<!-- Sin embargo, en una aplicación típica, es probable que tenga una variedad de publicaciones en data: -->

<script>
const App = {
  data() {
    return {
      posts: [
        { id: 1, title: 'My journey with Vue' },
        { id: 2, title: 'Blogging with Vue' },
        { id: 3, title: 'Why Vue is so fun' }
      ]
    }
  }
}

const app = Vue.createApp(App)

app.component('blog-post', {
  props: ['title'],
  template: `<h4>{{ title }}</h4>`
})

app.mount('#blog-posts-demo')
</script>

<!--

Entonces quiero renderizar un componente para cada uno:

Escuchar eventos de componentes secundarios
A medida que desarrollamos nuestro <blog-post>componente, algunas funciones pueden requerir una copia de seguridad de la comunicación con el padre. Por ejemplo, podemos decidir incluir una función de accesibilidad para ampliar el texto de las publicaciones del blog, dejando el resto de la página en su tamaño predeterminado.

En el padre, podemos admitir esta función agregando una postFontSizepropiedad de datos:

-->

<script>
const App = {
  data() {
    return {
      posts: [
        /* ... */
      ],
      postFontSize: 1
    }
  }
}
</script>

<!-- Que se puede usar en la plantilla para controlar el tamaño de fuente de todas las publicaciones del blog: -->

<div id="blog-posts-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <blog-post
      v-for="post in posts"
      :key="post.id"
      :title="post.title"
    ></blog-post>
  </div>
</div>

<!-- Ahora agreguemos un botón para ampliar el texto justo antes del contenido de cada publicación: -->

<script>
app.component('blog-post', {
  props: ['title'],
  template: `
    <div class="blog-post">
      <h4>{{ title }}</h4>
      <button>
        Enlarge text
      </button>
    </div>
  `
})
</script>

<!-- El problema es que este botón no hace nada: -->

<button>
  Enlarge text
</button>

<!-- Cuando hacemos clic en el botón, debemos comunicarle al padre que debe ampliar el texto de todas las publicaciones. Para resolver este problema, las instancias de componentes proporcionan un sistema de eventos personalizado. El padre puede elegir escuchar cualquier evento en la instancia del componente secundario con v-ono @, tal como lo haríamos con un evento DOM nativo: -->

<blog-post ... @enlarge-text="postFontSize += 0.1"></blog-post>

<!-- Podemos listar eventos emitidos en la emitsopción del componente : -->

<script>
app.component('blog-post', {
  props: ['title'],
  emits: ['enlargeText']
})
</script>

<!--

Esto te permitirá comprobar todos los eventos que emite un componente y, opcionalmente, validarlos .

#Emitir un valor con un evento
A veces es útil emitir un valor específico con un evento. Por ejemplo, es posible que deseemos que el <blog-post>componente se encargue de cuánto agrandar el texto. En esos casos, podemos pasar un segundo parámetro $emitpara proporcionar este valor: 

-->

<button @click="$emit('enlargeText', 0.1)">
  Enlarge text
</button>

<!-- Luego, cuando escuchamos el evento en el padre, podemos acceder al valor del evento emitido con $event: -->

<blog-post ... @enlarge-text="postFontSize += $event"></blog-post>

<!-- O, si el controlador de eventos es un método: -->

<blog-post ... @enlarge-text="onEnlargeText"></blog-post>

<!-- Luego, el valor se pasará como primer parámetro de ese método: -->

<script>
methods: {
  onEnlargeText(enlargeAmount) {
    this.postFontSize += enlargeAmount
  }
}
</script>

<!-- Uso v-modelen componentes
Los eventos personalizados también se pueden utilizar para crear entradas personalizadas que funcionen con v-model. Recuérdalo: -->

<input v-model="searchText" />

<!-- hace lo mismo que: -->

<input :value="searchText" @input="searchText = $event.target.value" />

<!-- Cuando se usa en un componente, en v-modelcambio hace esto: -->

<custom-input
  :model-value="searchText"
  @update:model-value="searchText = $event"
></custom-input>

<!-- Sin embargo, para que esto funcione realmente, el <input> interior del componente debe:

Vincular el value atributo al modelValue accesorio
Activado input, emite un update:modelValue evento con el nuevo valor.
Aquí está eso en acción: --> 

<script>
app.component('custom-input', {
  props: ['modelValue'],
  emits: ['update:modelValue'],
  template: `
    <input
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    >
  `
})
</script>

<!-- Ahora v-modeldebería funcionar perfectamente con este componente: -->

<custom-input v-model="searchText"></custom-input>

<!-- 

Otra forma de implementar v-model dentro de este componente es utilizar la capacidad de las computed propiedades para definir un captador y un definidor. El get método debe devolver la modelValue propiedad y el set método debe emitir el evento correspondiente: -->

<script>
app.component('custom-input', {
  props: ['modelValue'],
  emits: ['update:modelValue'],
  template: `
    <input v-model="value">
  `,
  computed: {
    value: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
})
</script>

<!-- 

Distribución de contenido con ranuras
Al igual que con los elementos HTML, a menudo es útil poder pasar contenido a un componente, como este:

Distribución de contenido con ranuras
Al igual que con los elementos HTML, a menudo es útil poder pasar contenido a un componente, como este:

-->

<alert-box>
  Something bad happened.
</alert-box>

<!-- 
Esto se puede lograr utilizando el <slot>elemento personalizado de Vue : 
Como verá arriba, usamos <slot>como marcador de posición donde queremos que vaya el contenido, y eso es todo. ¡Terminamos!
-->




<!-- 

Componentes dinámicos
A veces, es útil cambiar dinámicamente entre componentes, como en una interfaz con pestañas: -->

<div id="dynamic-component-demo" class="demo">
  <button
     v-for="tab in tabs"
     v-bind:key="tab"
     v-bind:class="['tab-button', { active: currentTab === tab }]"
     v-on:click="currentTab = tab"
   >
    {{ tab }}
  </button>

  <component v-bind:is="currentTabComponent" class="tab"></component>
</div>

<style>
.demo {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}

.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}
.tab-button:hover {
  background: #e0e0e0;
}
.tab-button.active {
  background: #e0e0e0;
}
.demo-tab {
  border: 1px solid #ccc;
  padding: 10px;
}
</style>

<script>
const app = Vue.createApp({
  data() {
    return {
      currentTab: 'Home',
      tabs: ['Home', 'Posts', 'Archive']
    }
  },
  computed: {
    currentTabComponent() {
      return 'tab-' + this.currentTab.toLowerCase()
    }
  }
})

app.component('tab-home', {
  template: `<div class="demo-tab">Home component</div>`
})
app.component('tab-posts', {
  template: `<div class="demo-tab">Posts component</div>`
})
app.component('tab-archive', {
  template: `<div class="demo-tab">Archive component</div>`
})

app.mount('#dynamic-component-demo')
</script>

<!-- 

Lo anterior es posible gracias al <component>elemento de Vue con el isatributo especial.
El componente cambia cuando cambia currentTabComponent

-->

<component :is="currentTabComponent"></component>

<!-- 

En el ejemplo anterior, currentTabComponentpuede contener:

el nombre de un componente registrado, o
el objeto de opciones de un componente
Ver esta caja de arena (abre una nueva ventana)para experimentar con el código completo o esta versión (abre una nueva ventana)para un ejemplo de vinculación al objeto de opciones de un componente, en lugar de su nombre registrado.

También puede utilizar el isatributo para crear elementos HTML regulares.

Advertencias sobre el análisis de plantillas DOM
Algunos elementos HTML, como <ul>, <ol>, <table> y <select> tienen restricciones sobre qué elementos pueden aparecer dentro de ellos, y algunos elementos tales como <li>, <tr> y <option> sólo pueden aparecer dentro de ciertos otros elementos.

Esto dará lugar a problemas al utilizar componentes con elementos que tienen tales restricciones. Por ejemplo:

-->

<table>
  <blog-post-row></blog-post-row>
</table>

<!-- 

El componente personalizado se <blog-post-row> incluirá como contenido no válido, lo que provocará errores en la salida eventual renderizada. Podemos usar la v-is directiva especial como solución alternativa:

-->

<table>
  <tr v-is="'blog-post-row'"></tr>
</table>

<!-- El v-is valor se trata como una expresión de JavaScript, por lo que debemos envolver el nombre del componente entre comillas: -->

<!-- Incorrect, nothing will be rendered -->
<tr v-is="blog-post-row"></tr>

<!-- Correct -->
<tr v-is="'blog-post-row'"></tr>

<!-- Además, los nombres de los atributos HTML no distinguen entre mayúsculas y minúsculas, por lo que los navegadores interpretarán los caracteres en mayúsculas como minúsculas. Eso significa que cuando está usando plantillas en DOM, los nombres de accesorios basados ​​en camello y los parámetros del controlador de eventos deben usar sus equivalentes en mayúsculas y minúsculas (delimitados por guiones): -->

<script>
// camelCase in JavaScript

app.component('blog-post', {
  props: ['postTitle'],
  template: `
    <h3>{{ postTitle }}</h3>
  `
})
</script>

<!-- kebab-case in HTML -->

<blog-post post-title="hello!"></blog-post>