<!--

Vue ofrece algunas abstracciones que pueden ayudar a trabajar con transiciones y animaciones, particularmente en respuesta a algo que cambia. Algunas de estas abstracciones incluyen:

Ganchos para componentes que entran y salen del DOM, tanto en CSS como en JS, utilizando el <transition>componente incorporado .
Modos de transición para que pueda orquestar el pedido durante una transición.
Ganchos para cuando varios elementos se actualizan en su posición, con técnicas FLIP aplicadas debajo del capó para aumentar el rendimiento, utilizando el <transition-group>componente.
Transición de diferentes estados en una aplicación, con watchers.

Transiciones y animaciones basadas en clases
Aunque el <transition>componente puede ser maravilloso para los componentes que entran y salen, también puede activar una animación sin montar un componente, agregando una clase condicional.

-->

<div id="demo">
  Push this button to do something you shouldn't be doing:<br />

  <div :class="{ shake: noActivated }">
    <button @click="noActivated = true">Click me</button>
    <span v-if="noActivated">Oh no!</span>
  </div>
</div>

<style>
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>

<script>
const Demo = {
  data() {
    return {
      noActivated: false
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<!--

Transiciones con enlaces de estilo
Algunos efectos de transición se pueden aplicar interpolando valores, por ejemplo, vinculando un estilo a un elemento mientras se produce una interacción. Tome este ejemplo, por ejemplo:

-->

<div id="demo">
  <div
    @mousemove="xCoordinate"
    :style="{ backgroundColor: `hsl(${x}, 80%, 50%)` }"
    class="movearea"
  >
    <h3>Move your mouse across the screen...</h3>
    <p>x: {{x}}</p>
  </div>
</div>

<style>
.movearea {
  transition: 0.2s background-color ease;
}
</style>

<script>
const Demo = {
  data() {
    return {
      x: 0
    }
  },
  methods: {
    xCoordinate(e) {
      this.x = e.clientX
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<!--

Aceleracion de hardware
Propiedades como perspective, backface-visibilityy transform: translateZ(x)permitirán que el navegador sepa que necesita aceleración de hardware.

Si desea acelerar por hardware un elemento, puede aplicar cualquiera de estas propiedades (no todas son necesarias, solo una):

-->

<style>
perspective: 1000px;
backface-visibility: hidden;
transform: translateZ(0);
</style>

<!--

Transición de elementos / componentes individuales

Vue proporciona un transition componente contenedor, lo que le permite agregar transiciones de entrada / salida para cualquier elemento o componente en los siguientes contextos:

Representación condicional (usando v-if)
Visualización condicional (usando v-show)
Componentes dinámicos
Nodos raíz de componentes
Así es como se ve un ejemplo en acción:

-->

<div id="demo">
  <button @click="show = !show">
    Toggle
  </button>

  <transition name="fade">
    <p v-if="show">hello</p>
  </transition>
</div>

<script>
const Demo = {
  data() {
    return {
      show: true
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>

<!-- 

Clases de transición
Hay seis clases que se aplican para las transiciones de entrada / salida.

v-enter-from: Estado inicial para entrar. Se agrega antes de que se inserte el elemento, se elimina un marco después de que se inserta el elemento.

v-enter-active: Estado activo para entrar. Aplicado durante toda la fase de entrada. Se agrega antes de que se inserte el elemento, se elimina cuando finaliza la transición / animación. Esta clase se puede utilizar para definir la duración, el retardo y la curva de relajación para la transición de entrada.

v-enter-to: Estado final para entrar. Se agregó un fotograma después de que se inserta el elemento (al mismo tiempo v-enter-fromse elimina), se elimina cuando finaliza la transición / animación.

v-leave-from: Estado de inicio de la licencia. Se agrega inmediatamente cuando se activa una transición de salida, se elimina después de un fotograma.

v-leave-active: Estado activo para licencia. Aplicado durante toda la fase de salida. Se agrega inmediatamente cuando se activa una transición de licencia, se elimina cuando finaliza la transición / animación. Esta clase se puede utilizar para definir la duración, el retraso y la curva de relajación para la transición de salida.

v-leave-to: Estado final de licencia. Se agregó un fotograma después de que se activa una transición de salida (al mismo tiempo v-leave-fromse elimina), se elimina cuando finaliza la transición / animación.



Transiciones CSS
Uno de los tipos de transición más comunes utiliza transiciones CSS. He aquí un ejemplo:

-->

<div id="demo">
  <button @click="show = !show">
    Toggle render
  </button>

  <transition name="slide-fade">
    <p v-if="show">hello</p>
  </transition>
</div>

<script>
const Demo = {
  data() {
    return {
      show: true
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<style>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>



<!-- 

Animaciones CSS
Las animaciones CSS se aplican de la misma forma que las transiciones CSS, con la diferencia de que v-enter-from no se elimina inmediatamente después de insertar el elemento, sino en un animationend evento.

Aquí hay un ejemplo, omitiendo las reglas CSS prefijadas en aras de la brevedad:

-->

<div id="demo">
  <button @click="show = !show">Toggle show</button>
  <transition name="bounce">
    <p v-if="show">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis
      enim libero, at lacinia diam fermentum id. Pellentesque habitant morbi
      tristique senectus et netus.
    </p>
  </transition>
</div>

<script>
const Demo = {
  data() {
    return {
      show: true
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<style>
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
</style>

<!--

Clases de transición personalizadas
También puede especificar clases de transición personalizadas proporcionando los siguientes atributos:

enter-from-class
enter-active-class
enter-to-class
leave-from-class
leave-active-class
leave-to-class

Estos anularán los nombres de clases convencionales. Esto es especialmente útil cuando desea combinar el sistema de transición de Vue con una biblioteca de animación CSS existente, como Animate.css (abre una nueva ventana).

He aquí un ejemplo:

-->

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"
  rel="stylesheet"
  type="text/css"
/>

<div id="demo">
  <button @click="show = !show">
    Toggle render
  </button>

  <transition
    name="custom-classes-transition"
    enter-active-class="animate__animated animate__tada"
    leave-active-class="animate__animated animate__bounceOutRight"
  >
    <p v-if="show">hello</p>
  </transition>
</div>

<script>
const Demo = {
  data() {
    return {
      show: true
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<!--

Duraciones de transición explícitas
En la mayoría de los casos, Vue puede averiguar automáticamente cuándo ha finalizado la transición. De forma predeterminada, Vue espera el primer evento transitionendo animationendevento en el elemento de transición raíz. Sin embargo, esto puede no ser siempre deseable; por ejemplo, podemos tener una secuencia de transición coreografiada donde algunos elementos internos anidados tienen una transición retardada o una duración de transición más larga que el elemento de transición raíz.

En tales casos, puede especificar una duración de transición explícita (en milisegundos) usando el durationaccesorio en el <transition> componente:

-->

<transition :duration="1000">...</transition>

<!-- También puede especificar valores separados para las duraciones de entrada y salida: -->

<transition :duration="{ enter: 500, leave: 800 }">...</transition>

<!--

Ganchos de JavaScript
También puede definir ganchos de JavaScript en atributos:

-->

<transition
  @before-enter="beforeEnter"
  @enter="enter"
  @after-enter="afterEnter"
  @enter-cancelled="enterCancelled"
  @before-leave="beforeLeave"
  @leave="leave"
  @after-leave="afterLeave"
  @leave-cancelled="leaveCancelled"
  :css="false"
>
  <!-- ... -->
</transition>

<script>
// ...
methods: {
  // --------
  // ENTERING
  // --------

  beforeEnter(el) {
    // ...
  },
  // the done callback is optional when
  // used in combination with CSS
  enter(el, done) {
    // ...
    done()
  },
  afterEnter(el) {
    // ...
  },
  enterCancelled(el) {
    // ...
  },

  // --------
  // LEAVING
  // --------

  beforeLeave(el) {
    // ...
  },
  // the done callback is optional when
  // used in combination with CSS
  leave(el, done) {
    // ...
    done()
  },
  afterLeave(el) {
    // ...
  },
  // leaveCancelled only available with v-show
  leaveCancelled(el) {
    // ...
  }
}
</script>

<!--

Estos ganchos se pueden usar en combinación con transiciones / animaciones CSS o por sí solos.

Cuando se usan transiciones solo de JavaScript, las done devoluciones de llamada son necesarias para los hooks enter y leave . De lo contrario, los ganchos se llamarán sincrónicamente y la transición finalizará inmediatamente. Agregar :css="false"también le permitirá a Vue omitir la detección de CSS. Además de ser un poco más eficiente, esto también evita que las reglas CSS interfieran accidentalmente con la transición.

Ahora vamos a sumergirnos en un ejemplo. Aquí hay una transición de JavaScript usando GreenSock:

-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>

<div id="demo">
  <button @click="show = !show">
    Toggle
  </button>

  <transition
    @before-enter="beforeEnter"
    @enter="enter"
    @leave="leave"
    :css="false"
  >
    <p v-if="show">
      Demo
    </p>
  </transition>
</div>

<script>
const Demo = {
  data() {
    return {
      show: false
    }
  },
  methods: {
    beforeEnter(el) {
      gsap.set(el, {
        scaleX: 0.8,
        scaleY: 1.2
      })
    },
    enter(el, done) {
      gsap.to(el, {
        duration: 1,
        scaleX: 1.5,
        scaleY: 0.7,
        opacity: 1,
        x: 150,
        ease: 'elastic.inOut(2.5, 1)',
        onComplete: done
      })
    },
    leave(el, done) {
      gsap.to(el, {
        duration: 0.7,
        scaleX: 1,
        scaleY: 1,
        x: 300,
        ease: 'elastic.inOut(2.5, 1)'
      })
      gsap.to(el, {
        duration: 0.2,
        delay: 0.5,
        opacity: 0,
        onComplete: done
      })
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<!--

Transiciones en el renderizado inicial
Si también desea aplicar una transición en el renderizado inicial de un nodo, puede agregar el appear atributo:

-->

<transition appear>
  <!-- ... -->
</transition>

<!--

Transición entre elementos
Discutiremos la transición entre componentes más adelante, pero también puede realizar la transición entre elementos sin procesar usando v-if/ v-else. Una de las transiciones de dos elementos más comunes es entre un contenedor de lista y un mensaje que describe una lista vacía:

-->

<transition>
  <table v-if="items.length > 0">
    <!-- ... -->
  </table>
  <p v-else>Sorry, no items found.</p>
</transition>

<!--

De hecho, es posible realizar la transición entre cualquier número de elementos, ya sea utilizando v-if/ v-else-if/ v-elseo vinculando un solo elemento a una propiedad dinámica. Por ejemplo:

-->

<transition>
  <button v-if="docState === 'saved'" key="saved">
    Edit
  </button>
  <button v-else-if="docState === 'edited'" key="edited">
    Save
  </button>
  <button v-else-if="docState === 'editing'" key="editing">
    Cancel
  </button>
</transition>

<!-- Que también podría escribirse como: -->

<transition>
  <button :key="docState">
    {{ buttonMessage }}
  </button>
</transition>

<script>
computed: {
  buttonMessage() {
    switch (this.docState) {
      case 'saved': return 'Edit'
      case 'edited': return 'Save'
      case 'editing': return 'Cancel'
    }
  }
}
</script>


<!--

Modos de transición
Sin embargo, todavía hay un problema.

A medida que se realiza la transición entre el botón "encendido" y el botón "apagado", ambos botones se renderizan, uno hacia afuera y el otro hacia adentro. Este es el comportamiento predeterminado de <transition>: la entrada y la salida ocurren simultáneamente.

A veces, esto funciona muy bien, como cuando los elementos en transición se colocan absolutamente uno encima del otro:

Sin embargo, a veces esta no es una opción, o estamos lidiando con movimientos más complejos donde los estados de entrada y salida deben coordinarse, por lo que Vue ofrece una utilidad extremadamente útil llamada modos de transición :

in-out: El elemento nuevo entra primero, luego, cuando se completa, el elemento actual sale.
out-in: El elemento actual sale primero, luego, cuando está completo, el nuevo elemento entra.

-->

<div id="demo">
  <transition name="mode-fade" mode="out-in">
    <button v-if="on" key="on" @click="on = false">
      on
    </button>
    <button v-else key="off" @click="on = true">
      off
    </button>
  </transition>
</div>

<style>
body {
  margin: 30px;
}

#demo {
  position: relative;
}

button {
  position: absolute;
}

.mode-fade-enter-active, .mode-fade-leave-active {
  transition: opacity .5s ease
}

.mode-fade-enter-from, .mode-fade-leave-to {
  opacity: 0
}

button {
  background: #05ae7f;
  border-radius: 4px;
  display: inline-block;
  border: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
</style>

<script>
const Demo = {
  data() {
    return {
      on: false
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>





























































<!-- 

Transiciones de lista 

Hasta ahora, hemos gestionado las transiciones para:

Nodos individuales
Múltiples nodos donde solo se representa 1 a la vez
Entonces, ¿qué pasa cuando tenemos una lista completa de elementos que queremos representar simultáneamente, por ejemplo, con v-for? En este caso, usaremos el <transition-group>componente. Sin embargo, antes de sumergirnos en un ejemplo, hay algunas cosas que es importante saber sobre este componente:

De forma predeterminada, no representa un elemento contenedor, pero puede especificar un elemento que se representará con el tagatributo.
Los modos de transición no están disponibles porque ya no estamos alternando entre elementos mutuamente excluyentes.
Los elementos del interior siempre deben tener un keyatributo único .
Las clases de transición CSS se aplicarán a los elementos internos y no al grupo / contenedor en sí.
#Lista de transiciones de entrada / salida
Ahora profundicemos en un ejemplo, haciendo la transición de entrada y salida usando las mismas clases de CSS que usamos anteriormente:

-->

<div id="list-demo">
  <button @click="add">Add</button>
  <button @click="remove">Remove</button>
  <transition-group name="list" tag="p">
    <span v-for="item in items" :key="item" class="list-item">
      {{ item }}
    </span>
  </transition-group>
</div>

<script>
const Demo = {
  data() {
    return {
      items: [1, 2, 3, 4, 5, 6, 7, 8, 9],
      nextNum: 10
    }
  },
  methods: {
    randomIndex() {
      return Math.floor(Math.random() * this.items.length)
    },
    add() {
      this.items.splice(this.randomIndex(), 0, this.nextNum++)
    },
    remove() {
      this.items.splice(this.randomIndex(), 1)
    }
  }
}

Vue.createApp(Demo).mount('#list-demo')
</script>

<style>
.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>

<!--

Hay un problema con este ejemplo. Cuando agrega o elimina un elemento, los que lo rodean encajan instantáneamente en su nuevo lugar en lugar de realizar una transición suave. Lo arreglaremos más tarde.

Lista de transiciones de movimiento
El <transition-group> componente tiene otro truco bajo la manga. No solo puede animar la entrada y la salida, sino también los cambios de posición. El único concepto nuevo que necesita saber para usar esta función es la adición de la v-move clase , que se agrega cuando los elementos cambian de posición. Al igual que las otras clases, su prefijo coincidirá con el valor de un name atributo proporcionado y también puede especificar manualmente una clase con el move-classatributo.

Esta clase es principalmente útil para especificar el tiempo de transición y la curva de relajación, como verá a continuación:

-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>

<div id="flip-list-demo">
  <button @click="shuffle">Shuffle</button>
  <transition-group name="flip-list" tag="ul">
    <li v-for="item in items" :key="item">
      {{ item }}
    </li>
  </transition-group>
</div>

<script>
const Demo = {
  data() {
    return {
      items: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    }
  },
  methods: {
    shuffle() {
      this.items = _.shuffle(this.items)
    }
  }
}

Vue.createApp(Demo).mount('#flip-list-demo')
</script>

<style>
.flip-list-move {
  transition: transform 0.8s ease;
}
</style>

<!--

Esto puede parecer mágico, pero bajo el capó, Vue está usando una técnica de animación llamada FLIP. (abre una nueva ventana)para hacer una transición suave de elementos de su posición anterior a su nueva posición utilizando transformaciones.

¡Podemos combinar esta técnica con nuestra implementación anterior para animar todos los cambios posibles en nuestra lista!

-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>

<div id="list-complete-demo" class="demo">
  <button @click="shuffle">Shuffle</button>
  <button @click="add">Add</button>
  <button @click="remove">Remove</button>
  <transition-group name="list-complete" tag="p">
    <span v-for="item in items" :key="item" class="list-complete-item">
      {{ item }}
    </span>
  </transition-group>
</div>

<script>
const Demo = {
  data() {
    return {
      items: [1, 2, 3, 4, 5, 6, 7, 8, 9],
      nextNum: 10
    }
  },
  methods: {
    randomIndex() {
      return Math.floor(Math.random() * this.items.length)
    },
    add() {
      this.items.splice(this.randomIndex(), 0, this.nextNum++)
    },
    remove() {
      this.items.splice(this.randomIndex(), 1)
    },
    shuffle() {
      this.items = _.shuffle(this.items)
    }
  }
}

Vue.createApp(Demo).mount('#list-complete-demo')
</script>

<style>
.list-complete-item {
  transition: all 0.8s ease;
  display: inline-block;
  margin-right: 10px;
}

.list-complete-enter-from,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}
</style>

<!--

Transiciones de lista asombrosas
Al comunicarse con las transiciones de JavaScript a través de los atributos de datos, también es posible escalonar las transiciones en una lista:

-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>

<div id="demo">
  <input v-model="query" />
  <transition-group
    name="staggered-fade"
    tag="ul"
    :css="false"
    @before-enter="beforeEnter"
    @enter="enter"
    @leave="leave"
  >
    <li
      v-for="(item, index) in computedList"
      :key="item.msg"
      :data-index="index"
    >
      {{ item.msg }}
    </li>
  </transition-group>
</div>

<script>
onst Demo = {
  data() {
    return {
      query: '',
      list: [
        { msg: 'Bruce Lee' },
        { msg: 'Jackie Chan' },
        { msg: 'Chuck Norris' },
        { msg: 'Jet Li' },
        { msg: 'Kung Fury' }
      ]
    }
  },
  computed: {
    computedList() {
      var vm = this
      return this.list.filter(item => {
        return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
      })
    }
  },
  methods: {
    beforeEnter(el) {
      el.style.opacity = 0
      el.style.height = 0
    },
    enter(el, done) {
      gsap.to(el, {
        opacity: 1,
        height: '1.6em',
        delay: el.dataset.index * 0.15,
        onComplete: done
      })
    },
    leave(el, done) {
      gsap.to(el, {
        opacity: 0,
        height: 0,
        delay: el.dataset.index * 0.15,
        onComplete: done
      })
    }
  }
}

Vue.createApp(Demo).mount('#demo')
</script>

<!--

Transiciones reutilizables
Las transiciones se pueden reutilizar a través del sistema de componentes de Vue. Para crear una transición reutilizable, todo lo que tiene que hacer es colocar un componente <transition> o <transition-group> en la raíz y luego pasar los elementos secundarios al componente de transición.

TODO: refactorizar a Vue 3

A continuación, se muestra un ejemplo con un componente de plantilla:

-->

<script>
Vue.component('my-special-transition', {
  template: '\
    <transition\
      name="very-special-transition"\
      mode="out-in"\
      @before-enter="beforeEnter"\
      @after-enter="afterEnter"\
    >\
      <slot></slot>\
    </transition>\
  ',
  methods: {
    beforeEnter(el) {
      // ...
    },
    afterEnter(el) {
      // ...
    }
  }
})
</script>

<!--

Y los componentes funcionales son especialmente adecuados para esta tarea:

-->

<script>
Vue.component('my-special-transition', {
  functional: true,
  render: function(createElement, context) {
    var data = {
      props: {
        name: 'very-special-transition',
        mode: 'out-in'
      },
      on: {
        beforeEnter(el) {
          // ...
        },
        afterEnter(el) {
          // ...
        }
      }
    }
    return createElement('transition', data, context.children)
  }
})
</script>